{% for post in blogitems %}
<div class="post">
  <h2>
    <a href="{{ url('blog_post', post.oid) }}">{{ post.title }}</a>
  </h2>

  <p style="font-weight: bold">
    <span style="float:right">{{ post.pub_date.strftime('%d %B %Y') }}</span>
    {% set count = post.count_comments() %}
    {{ count }} comment{% if count != 1 %}s{% endif %}
    &nbsp;
    {% for category in post.categories.all() %}
      <a rel="nofollow" href="{{ url('only_category', category.name.replace(' ','+')) }}"
         title="Filter by the '{{ category.name }}' category"
          >{{ category.name }}</a>{% if not loop.last %}, {% endif %}
    {% endfor %}
  </p>

  {% if post.url %}
    <h4><a href="{{ post.url }}">{{ post.url }}</a></h4>
  {% endif %}

  <br>

  {{ post.rendered|safe }}

</div>
{% endfor %}
