{% extends "base.html" %}

{% block extrahead %}
<style>
.projects { margin-top: 40px; }
.project {
    clear: left;
    border-top: 1px solid rgb(238, 238, 238);
    padding: 50px 20px 20px 20px;
}
.screenshot {
    margin-bottom: 5px;
    width: 140px;
}
.screenshot img {
    border: 1px solid rgb(230,230,230);
    border-radius: 2px;
}

@media (min-width: 768px) { /* something _bigger_ than an iPad in portrait mode */
  .rest {
      margin-left: 140px;
  }
  .screenshot {
    float: left;
    margin-bottom: 15px;
  }
}

.project a.perm { /* no mincss */
    font-size: 0.7em;
    padding-left: 8px;
}
.project a.perm:link { /* no mincss */
    color: rgb(151,151,151);
}
.project a.perm:hover { /* no mincss */
    color: rgb(51,51,51);
}
.project h3 {
    margin-top: 0;
}
</style>
{% endblock %}

{% block content %}

<p>My name is <strong>Peter Bengtsson</strong> and I'm a web developer.<br>
This site is my place for things that go on in my head.</p>

<p>I currently work for <a href="https://mozilla.org" class="bold">Mozilla</a>,
  from home in South Carolina.
There I work on the <b>Engineering Operations</b> team which involves working
on various tools that help the development of Firefox and my other Mozilla projects.</p>

<p>Virtually all of my work is Open Source and available on
<a href="https://github.com/peterbe" class="bold">my GitHub account</a> including
<a href="https://github.com/peterbe/django-peterbecom">this site itself</a>.
</p>

<div class="projects">

<h2>Side projects</h2>

<div class="project" id="podcasttime">
  <div class="screenshot">
    <a href="https://podcasttime.io" title="Podcasttime">
      <img src="{{ static('images/podcasttime-scr.png') }}" alt="Screenshot"/>
    </a>
  </div>
  <div class="rest">
    <h3>Podcast Time</h3>
    <h4><a href="https://podcasttime.io">podcasttime.io</a></h4>
    <p>
      This started as me trying to figure out how much content
      <i>my</i> preferred podcasts require me to listen to to keep up and not fall
      behind. Later I structured it with a real database and a web app to
      display it. Then in early 2017 I re-wrote the front-end entirely in
      React and added Elasticsearch on the back-end for better search.<br/>
      The <a href="https://github.com/peterbe/podcasttime2">front-end code is here</a>
      and the <a href="https://github.com/peterbe/django-peterbecom/tree/master/peterbecom/podcasttime">back-end code is here</a>.
      <a href="https://www.peterbe.com/plog/podcasttime.io">Blogged about how it was built too</a>.
    </p>
  </div>
</div>

<div class="project" id="battleshits">
  <div class="screenshot">
    <a href="https://btlsh.it/" title="Battleshits">
      <img src="{{ static('images/battleshits-scr.png') }}" alt="Screenshot"/>
    </a>
  </div>
  <div class="rest">
    <h3>Battleshits</h3>
    <h4><a href="https://btlsh.it/">btlsh.it</a></h4>
    <p>
      A mobile web game app where you play battleships against friends. With
      the silly name, iconography and sounds. The first prototype of this
      is simply a website but styled specifically for mobile use
      using <a href="http://bulma.io/">Bulma</a>.<br/>
      You can either play against the computer, against a friend asynchronously
      or against a friend in real-time. <br/>
      The front-end is written in <b>ReactJS</b> and the real-time traffic
      is handled partly in <b>Django</b> with <a href="https://fanout.io">Fanout.io</a>
      to handle the <b>WebSockets</b>.<br/>
      Next step is to try to submit this to the Apple App Store and see if
      they appreciate the name of the app.
    </p>
  </div>
</div>

<div class="project" id="headsupper">
  <div class="screenshot"><a href="https://headsupper.io/" title="Headsupper"><img src="{{ static('images/headsupper-scr.png') }}" alt="Screenshot"></a></div>
  <div class="rest">
    <h3>Heads'upper</h3>
    <h4><a href="https://headsupper.io/">headsupper.io</a></h4>
    <p>
      A GitHub Webhook receiver app that sends an email to certain people when a
      git commit comes in that contains the trigger word <code>headsup:</code>.
      More <a href="/plog/headsupper.io">extended blog post</a> here and
      <a href="https://github.com/peterbe/headsupper">code on GitHub</a>.<br>
      The back end is written in <b>Django</b>, the front-end written in
      <b>ReactJS</b> and it uses
      <b>GitHub as an OAuth</b> provider.
    </p>
  </div>
</div>

<div class="project" id="whatsdeployed">
  <div class="screenshot"><a href="https://whatsdeployed.io/"><img src="{{ static('images/whatsdeployed-scr.png') }}" alt="Screenshot"></a></div>
  <div class="rest">
    <h3>Whatsdeployed</h3>
    <h4><a href="https://whatsdeployed.io/">whatsdeployed.io</a></h4>
    <p>
      You enter the GitHub URL to a project and for each deployment
      target (e.g. "dev", "stage", "production") you enter a URL that
      points to a file that contains the git sha that is deployed there.
      Then you get an overview of what git commits been and not been deployed
      across those deployments.
      <a href="https://whatsdeployed.io/?owner=mozilla&repo=socorro&name[]=Stage&amp;url[]=https://crash-stats.allizom.org/status/revision/&amp;name[]=Prod&amp;url[]=https://crash-stats.mozilla.com/status/revision/">For</a>
      <a href="https://whatsdeployed.io/?owner=mozilla&repo=airmozilla&name[]=Dev&amp;url[]=https%3A%2F%2Fair-dev.allizom.org%2Fmedia%2Frevision&amp;name[]=Stage&amp;url[]=https%3A%2F%2Fair.allizom.org%2Fmedia%2Frevision&amp;name[]=Prod&amp;url[]=https%3A%2F%2Fair.mozilla.org%2Fmedia%2Frevision">example</a>.
      Written in <b>Flask</b>.
    </p>
  </div>
</div>

<div class="project" id="premailer.io">
  <div class="screenshot"><a href="https://premailer.io/"><img src="{{ static('images/premailer-scr.png') }}" alt="Screenshot"></a></div>
  <div class="rest">
    <h3>Premailer.io</h3>
    <h4><a href="https://premailer.io/">premailer.io</a></h4>
    <p>
      A webapp that makes it possible to test the popular
      <a href="https://github.com/peterbe/premailer">premailer python library</a>
      which you use to prepare HTML for being sent as HTML emails.
      This site uses <a href="http://falconframework.org/">Falcon</a> for the
      server and AngularJS for the front-end. The client-side build system
      uses <a href="http://linemanjs.com/">Lineman.js</a>.
    </p>
  </div>
</div>

<div class="project" id="autocompeter">
  <div class="screenshot"><a href="https://autocompeter.com/"><img src="{{ static('images/autocompeter-scr.png') }}" alt="Screenshot"></a></div>
  <div class="rest">
    <h3>Autocompeter</h3>
    <h4><a href="https://autocompeter.com/">autocompeter.com</a></h4>
    <p>
      An autocomplete widget where you put some CSS and JS on your site
      and let autcompeter.com host the data. The server is written in
      <a href="http://golang.org/"><b>Go</b></a>
      and the Javascript is pure without any dependency on a framework.
      <a href="https://github.com/peterbe/autocompeter">Code on GitHub</a>.
    </p>
  </div>
</div>

<div class="project" id="htmltree">
  <div class="screenshot"><a href="https://htmltree.herokuapp.com/"><img src="{{ static('images/htmltree-scr.png') }}" alt="Screenshot"></a></div>
  <div class="rest">
    <h3>HTML Tree</h3>
    <h4><a href="https://htmltree.herokuapp.com/">htmltree.herokuapp.com</a></h4>
    <p>It started when I was optimizing a website whose HTML files were massive.
      Clearly the HTML contained too many DOM nodes. But where are these big clusters of nodes?!
      HTML Tree takes a URL, converts it to a tree in JSON which when combined
      with a <a href="http://d3js.org/"><b>D3</b></a> collapsible tree becomes easier to navigate.
      <a href="https://github.com/peterbe/htmltree">Code on GitHub</a>.
    </p>
  </div>
</div>

<div class="project" id="nodomains">
  <div class="screenshot"><a href="https://www.peterbe.com/nodomains/"><img src="{{ static('images/nodomains-scr.png') }}" alt="Screenshot"></a></div>
  <div class="rest">
    <h3>Number of Domains</h3>
    <h4><a href="https://www.peterbe.com/nodomains/">www.peterbe.com/nodomains</a></h4>
    <p>Using your network panel in your browser Web Console you can track how incredibly many
      requests many sites depend on. But, to find out how many different domains that spans
      you have to manually count each unique domain. Or use this tool. <br>
      What this proves is that DNS is still incredibly important for web performance.
      <a href="/plog/number-of-domains">Blogged about it here</a> and
      the relevant <a href="https://github.com/peterbe/django-peterbecom/blob/master/peterbecom/nodomains/count.js"><b>NodeJS</b> code is here</a>.
    </p>
  </div>
</div>

<div class="project" id="github-pr-triage">
  <div class="screenshot"><a href="http://prs.mozilla.io"><img src="{{ static('images/github-pr-triage-scr.png') }}" alt="Screenshot"></a></div>
  <div class="rest">
    <h3>GitHub Pull Request Triage</h3>
    <h4><a href="http://prs.mozilla.io/">prs.mozilla.io</a></h4>
    <p>This is a mashup using the
        <a href="https://developer.github.com/v3/">GitHub API</a> to make a
        dashboard over all open Pull Requests on a GitHub project.
        It's a Flask backend for doing proxy caching of requests and an AngularJS
        front end. I <a href="/plog/github-pr-triage">blogged about it</a> in more
        detail and the code
        is <a href="https://github.com/peterbe/github-pr-triage">available on GitHub</a>.
    </p>
  </div>
</div>

<div class="project" id="buggy">
  <div class="screenshot"><a href="http://buggy.peterbe.com/"><img src="{{ static('images/buggy-scr.png') }}" alt="Buggy screenshot"></a></div>
  <div class="rest">
    <h3>Buggy</h3>
    <h4><a href="http://buggy.peterbe.com/">buggy.peterbe.com</a></h4>
    <p>Buggy is a singe-page webapp that relies entirely on the <a href="https://bugzilla.mozilla.org">Bugzilla</a>
        native REST API.
    The app is entirely client side and written in AngularJS and is entirely served from a CDN.
    I have <a href="/plog/buggy">blogged about it</a> in more detail on my blog and the code
    is <a href="https://github.com/peterbe/buggy">available on GitHub</a>.
    </p>
  </div>
</div>

<div class="project" id="wishlistgranted">
  <div class="screenshot"><a href="http://wishlistgranted.com/"><img src="{{ static('images/wishlistgranted-scr.png') }}" alt="Wish List Granted screenshot"></a></div>
  <div class="rest">
    <h3>Wish List Granted</h3>
    <h4><a href="http://wishlistgranted.com/">wishlistgranted.com</a></h4>
    <p>Makes it possible for you to &quot;crowdfund&quot; your presents. Integrates with Amazon.com&trade;'s
    <a href="http://www.amazon.com/gp/registry/wishlist/">Wish List</a> functionality mashed
    with <a href="https://www.balancedpayments.com/">Balanced Payments</a>.
    My first side-project with a full and real payment solution. Code written in Django with PostgreSQL.
    </p>
  </div>
</div>

<div class="project" id="hugepic">
  <div class="screenshot"><a href="http://hugepic.io/"><img src="{{ static('images/hugepic-scr.png') }}" alt="HUGEpic screenshot"></a></div>
  <div class="rest">
    <h3>HUGEpic</h3>
    <h4><a href="http://hugepic.io/">hugepic.io</a></h4>
    <p>This app combined <a href="http://leafletjs.com/">Leaflet</a> with <a href="https://www.filepicker.io/">Filepicker.io</a>
    with <a href="http://aws.amazon.com/s3/">Amazon S3</a> to let you upload massive pictures and draw annotations on them
    to be able to zoom in, pan and share specific regions without having to download the whole image.
    And it works great on mobile too!</p>
    <p>All the code is open source and <a href="https://github.com/peterbe/tiler">available here</a> and it's a Tornado
    app that relies very heavily on <a href="http://python-rq.org/">RQ</a>.</p>
  </div>
</div>

<div class="project" id="aroundtheworld">
  <div class="screenshot"><a href="http://aroundtheworldgame.com/"><img src="{{ static('images/aroundtheworld-scr.png') }}" alt="Around The World screenshot"></a></div>
  <div class="rest">
    <h3>Around The World</h3>
    <h4><a href="http://aroundtheworldgame.com/">aroundtheworldgame.com</a></h4>
    <p>
    If you haven't already done so, check out my new game:
    <a href="http://aroundtheworldgame.com/" class="bold">Around The World</a> which is my spare time project.
    You can read more <a href="http://aroundtheworldgame.com/about">about it here</a> but the best thing
    is to just start playing and see if you like it.
    </p>
  </div>
</div>

<div class="project" id="uslicensespotter">
  <div class="screenshot"><a href="http://uslicensespotter.com/"><img src="{{ static('images/licensespotter-scr.png') }}" alt="US License Spotter screenshot"></a></div>
  <div class="rest">
    <h3>US License Plate spotter</h3>
    <h4><a href="http://uslicensespotter.com/">uslicensespotter.com</a></h4>
    <p>It's for spotting out-of-state license plates in the US and tick them off on your smartphone.<br>
    This is a work in progress project. I have blogged out it
    <a href="/plog/us-license-plate-spotter-part-1">first here</a> and
    <a href="/plog/us-license-plate-spotter-part-2">then here</a> about the update. It's an ongoing project
    to try to build real mobile native apps from HTML and Javascript. <br>
    This is also my first ever project that actually uses Facebook's API to facilitate wall posts from the app.<br>
    The <a href="https://github.com/peterbe/uslicenseplates/">source code is here</a> and it's a bit of a mess
    because it's after all just an ongoing experiment.</p>
  </div>
</div>

<div class="project" id="toocoolforme">
  <div class="screenshot"><a href="http://toocoolfor.me"><img src="{{ static('images/toocoolforme-screenshot.png') }}" alt="TooCoolForMe screenshot"></a></div>
  <div class="rest">
    <h3>Too Cool For Me?</h3>
    <h4><a href="http://toocoolfor.me">toocoolfor.me</a></h4>
    <p>
    It started as a Bookmarklet so that when you're visiting twitter.com it appends, for each user you follow, whether they also follow you.
    Later, the most useful feature was the <a href="/plog/too-cool-for-me-everyone">/everybody</a> page where everyone you follow is split half between those
    who follow you and those that are too cool for you. <br>
    <a href="/plog/too-cool-for-me">blogged about it here</a> and <a href="https://github.com/peterbe/toocool">source code is here</a>.
    </p>
  </div>
</div>

<div class="project" id="peterbecom">
  <div class="screenshot"><a href="/"><img src="{{ static('images/peterbecom-screenshot.png') }}" alt="Peterbe.com screenshot"></a></div>
  <div class="rest">
    <h3>Peterbe.com</h3>
    <h4><a href="/">peterbe.com</a></h4>
    <p>In 2012 I re-wrote this site from scratch. Being very fast was important to me and I've blogged about
    how I made the <a href="/plog/secs-sell-frickin-fast-server-side">server-side</a> and
    <a href="/plog/secs-sell-frickin-fast-client-side">client-side</a> fast.<br>
    The code to this site is open source and the <a href="https://github.com/peterbe/django-peterbecom">source code is here</a>.
    </p>
  </div>
</div>

<div class="project" id="donecal">
  <div class="screenshot"><a href="http://donecal.com/"><img src="{{ static('images/donecal-screenshot.png') }}" alt="DoneCal screenshot"></a></div>
  <div class="rest">
    <h3>DoneCal</h3>
    <h4><a href="http://donecal.com/">donecal.com</a></h4>
    <p>
    This is a full HTML5 calendar. It's fast and simple and has a practical <a href="http://donecal.com/help/API">API</a>.<br>
    I've <a href="/plog/donecal.com">blogged about it here</a> and <a href="https://github.com/peterbe/worklog">source code is here</a>.
    </p>
  </div>
</div>

<div class="project" id="tornadogists">
  <div class="screenshot"><a href="http://tornadogists.org/"><img src="{{ static('images/tornadogists-scr.png') }}" alt="Tornado Gists"></a></div>
  <div class="rest">
    <h3>Tornado Gists</h3>
    <h4><a href="http://tornadogists.org/">tornadogists.org</a></h4>
    <p>This is a supporting site for the <a href="http://www.tornadoweb.org/">Tornado Web Server</a> project.
    It uses the GitHub API for authentication and for pulling down
    <a href="https://gist.github.com/" title="A GitHub service">gists</a> automatically.<br>
    The hosting of this project is actually done by a fellow Tornado contributor called
    <a href="http://feilong.me/">Felinx Lee</a>.<br>
    <a href="/plog/tornadogists.org">Blogged about it here</a> and
    <a href="https://github.com/peterbe/tornado_gists">source code is here</a>.
    </p>
  </div>
</div>

<div class="project" id="kwissle">
  <div class="screenshot"><a href="http://kwissle.com/"><img src="{{ static('images/kwissle-screenshot.png') }}" alt="Kwissle"></a></div>
  <div class="rest">
    <h3>Kwissle</h3>
    <h4><a href="http://kwissle.com/">kwissle.com</a></h4>
    <p>My first real-time web game. The game is that you get paired up with another random player
    and you have to answer quiz questions as fast and accurate as possible. My first web app
    that let's Facebook, Twitter, Google, Persona all take care of the authentication.<br>
    I first <a href="/plog/launching-kwissle">blogged about it here</a> when it was launched
    and here are <a href="/plog/slides-about-kwissle-lpdojo/slides.html">the slides</a>
    which I later <a href="/plog/slides-about-kwissle-lpdojo">presented at PyCon UK 2011</a>.
    </p>
  </div>
</div>

<div class="project" id="crosstips">
  <div class="screenshot"><a href="http://crosstips.org/"><img src="{{ static('images/crosstips-screenshot.png') }}" alt="Crosstips"></a></div>
  <div class="rest">
    <h3>Crosstips</h3>
    <h4><a href="http://crosstips.org/">crosstips.org</a></h4>
    <p>Crosstips first started as an experiment to do localization in Django. Namely, Swedish.
    So the first deployment was <a href="http://krysstips.se">Krysstips.se</a>
    (<a href="/plog/krysstips.se">blogged about it here</a>).
    This was also my first ever non-English project.<br>
    Not long after, I prepared the English (American and British) version and a friend helped
    me translate the French version too.<br>
    <a href="https://github.com/peterbe/kl">Source code available here</a> and I've
    <a href="/search?q=keywords%3Acrosstips">blogged about various aspects of it here</a>.
    </p>
  </div>
</div>

<div class="project" id="tflcameras">
  <div class="screenshot"><a href="http://tflcameras.peterbe.com/"><img src="{{ static('images/tflcameras-screenshot.png') }}" alt="TFL Cameras"></a></div>
  <div class="rest">
    <h3>TFL Cameras</h3>
    <h4><a href="http://tflcameras.peterbe.com/">tflcameras.peterbe.com</a></h4>
    <p>Using the recently published <a href="http://data.london.gov.uk/datastore/package/tfl-live-traffic-cameras">API from Transport from London</a>
    I put together a Google Maps mashup that plots all the central London traffic cameras
    so you can easily see if your particular road is congested. This was my first project
    using client-side Geolocation.<br>
    <a href="/plog/tflcameras">Blogged about it here</a> and the
    <a href="https://github.com/peterbe/tflcameras">source code is here</a>.
    </p>
  </div>
</div>


<div class="project" id="mfwc">
  <div class="screenshot"><a href="http://m.fwckungfu.com/"><img src="{{ static('images/mfwc-screenshot.png') }}" alt="FWC Kungfu Mobile"></a></div>
  <div class="rest">
    <h3>FWC Kungfu Mobile</h3>
    <h4><a href="http://m.fwckungfu.com/">m.fwckungfu.com</a></h4>
    <p>This was my first pure mobile web site. It's for my
    <a href="http://www.fwckungfu.com/">Fujian White Crane Kung Fu Club</a> that I trained
    with when I lived in London. This site uses a remote database connection and is heavily cached.
    It's built taylor made for mobile as it goes straight to the basic details you need.<br>
    I originally built it because I kept forgetting when various classes started and looking
    it up on a slow 3G connection was a pain.<br>
    The <a href="https://github.com/peterbe/fwc_mobile">code is here</a> and I blogged
    about when this was my first site to get <a href="/plog/first-yslow-grade-a">100 points on YSlow!</a>.
    </p>
  </div>
</div>


<p style="margin-top:30px"><strong>Note:</strong>
This list does not include any of the fun projects I'm workig on at work. <strong>These are all side-projects</strong>.<br>
Also, most of these projects I'm <strong>not actively working on</strong> but they're all projects that are <strong>alive and hosted somewhere</strong>.
</p>

</div><!-- /projects -->

{% endblock %}

{% block extrajs %}
{% javascript 'about' %}
{% endblock %}
