{% extends "base.html" %}


{% block content %}

  <h3>Email</h3>
  <p><a href="mailto:mail@peterbe.com">mail@peterbe.com</a></p>

  <h3>Twitter</h3>
  <p><a href="https://twitter.com/peterbe">twitter.com/peterbe</a></p>

  <h3>GitHub</h3>
  <p><a href="https://github.com/peterbe">github.com/peterbe</a></p>

  <h3>Facebook</h3>
  <p><a href="https://www.facebook.com/peterbecom">www.facebook.com/peterbecom</a></p>

  <h3>Mozillians</h3>
  <p><a href="https://mozillians.org/u/peterbe">mozillians.org/u/peterbe</a></p>


{% endblock %}
