{% extends "base.html" %}

{% block title %}Peterbe.com - Stuff in Peter's head{% endblock %}

{% block extrahead %}
<style>
h2 {
  margin-top: 60px;
  padding-top: 60px;
  border-top: 1px solid #E8E9E9;
  font-size: 2rem;
}
div.post {
  margin-bottom: 60px;
}
</style>
{#
<style>
div.post.snippet {
  max-height: 500px;
  position: relative;
  overflow: hidden;
}
div.post.snippet .read-more {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 50px 0 15px 0;

  /* "transparent" only works here because == rgba(0,0,0,0) */
  background-image: -moz-linear-gradient(top, transparent, white);
  background-image: linear-gradient(to bottom, transparent, white);
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.2), white);
}
div.post.snippet .read-more a {
  padding: 4px 14px 8px 14px;
  border: 1px solid #d6d6d6;
  border-radius: .28571429rem;
  box-shadow: 0 1px 2px 0 rgba(34,36,38,0.15);
}
</style>
#}
{% endblock %}


{% block page_title %}Peterbe.com{% endblock %}

{% block page_header_extra %}
<p>A blog and website by Peter Bengtsson</p>
{% endblock %}

{% block content %}

{% if categories %}
<div class="ui warning message">
  <div class="header">
    Filtered home page!
  </div>
  Currently only showing blog entries under the
  {% if categories.count() == 1 %}
  category:
  {% else %}
  categories:
  {% endif %}
  {% for category in categories %}
  <a href="{{ url('only_category', category.name.replace(' ','+')) }}" rel="nofollow"
  ><strong>{{ category }}</strong></a>{% if loop.last %}.{% else %}, {% endif %}
  {% endfor %}
  <a href="/">Clear filter</a>
</div>
{% endif %}

{% include "homepage/_posts.html" %}

<div class="ui two column centered grid" style="margin-top: 100px">
  <div class="ui pagination menu">
    {% if next_page %}
      <a class="item" href="{{ next_page_url }}">
        &larr; Older
      </a>
    {% else %}
      <a class="item disabled">
        Older
      </a>
    {% endif %}
    {% if previous_page %}
      <a class="item" href="{{ previous_page_url }}">
        Newer &rarr;
      </a>
    {% else %}
      <a class="item disabled">
        Newer
      </a>
    {% endif %}
  </div>
</div>


{% endblock %}
