{% extends "base.html" %}

{% block extrahead %}
{% stylesheet 'homepage:search' %}
{% endblock %}

{% block title_prefix %}Search: {{ page_title }}{% endblock %}

{% block content %}

{% if original_q %}
  <div class="ui info message"
     style="margin-bottom:4px">
    <p>
      Couldn't find any exact matches for <code>{{ original_q }}</code>
      so trying any of the words
      {% for term in non_stopwords_q %}
        <code>{{ term }}</code>{% if not loop.last %}, {% endif %}
      {% endfor %}
    </p>
  </div>
{% endif %}

{% if q %}
  <p><small>in {{ floatformat(search_time, 2) }} seconds</small></p>
{% endif %}

{% if not q %}
  <form class="ui search">
    <div class="ui fluid huge icon  input">
      <input type="text" name="q" placeholder="Search..." value="">
      <i class="search icon"></i>
    </div>
  </form>
{% endif %}


{% for document in documents %}
  <div class="result">
    <h3>
      <a href="{{ document.url }}">{{ document.title|safe }}</a>
      {% if debug_search %}
        <small>
        <span
          class="ui tag tiny label"
          title="Score straight from Elasticsearch's mouth"
          >Score {{ floatformat(document.score, 1) }}</span>
        <span
          class="ui tag tiny label"
          title="Popularity of document"
          >Popularity {{ floatformat(document.popularity or 0.0, 4) }}</span>
        </small>
      {% endif %}
      &nbsp;
      <small style="float: right">{{ document.date.strftime('%d %b %Y') }}</small>
    </h3>
    <a class="url" href="{{ document.url }}">{{ base_url }}{{ document.url }}</a>
    <br>
    {{ document.summary|safe }}
  </div>
{% endfor %}

{% if debug_search and search_terms %}
<p><small>Search Term Debugging</small></p>
<table class="ui celled table">
  <thead>
    <tr>
      <th>
        Search Term
      </th>
      <th>
        Search Term Score
      </th>
      <th>Title Boost</th>
      <th>Text Boost</th>
    </tr>
  </thead>
  <tbody>
    {% for search_term_score, search_term in search_terms %}
    <tr>
      <td>
        <code>{{ search_term }}</code>
      </td>
      <td>
        {{ floatformat(search_term_score, 1) }}
      </td>
      <td>
        {{ floatformat(search_term_boosts[search_term][0], 1) }}
      </td>
      <td>
        {{ floatformat(search_term_boosts[search_term][1], 1) }}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}

{% endblock %}
