{% extends "base.html" %}

{% block title_prefix %}Sign In{% endblock %}

{% block content %}

{% if request.user.is_authenticated %}
<h3>
  You are currently signed in as
  {% if request.user.username %}
  <code>{{ request.user.username }}</code>
  {% else %}
  <i>no username</i>
  {% endif %}
</h3>
<div class="ui list">
  <div class="item">
    <div class="header">Email:</div>
    {{ request.user.email }}
  </div>
  <div class="item">
    <div class="header">Staff?</div>
    {{ request.user.is_staff }}
  </div>
  <div class="item">
    <div class="header">Superuser?</div>
    {{ request.user.is_superuser }}
  </div>
</div>
{#<form action="{{ url('signout') }}" method="post">{% csrf_token %}
  <button type="submit">Sign out</button>
</form>#}
<i>Sign out currently not available.</i>
{% else %}
  <h3>You are currently <i>not</i> signed in</h3>

  <div>
    <a href="{{ url('oidc_authentication_init') }}">Sign In</a>
  </div>

{% endif %}


{% endblock %}
