{% extends "base.html" %}

{% block title_prefix %}Sign In{% endblock %}

{% block content %}

{% if request.user.is_authenticated %}
<h3>
  You are currently signed in as
  {% if request.user.username %}
  <code>{{ request.user.username }}</code>
  {% else %}
  <i>no username</i>
  {% endif %}
</h3>
<h4>Email: {{ request.user.email }}</h4>
<h4>Staff? {{ request.user.is_staff }}</h4>
<h4>Superuser? {{ request.user.is_superuser }}</h4>
<form action="{{ url('signout') }}" method="post">{% csrf_token %}
  <button type="submit">Sign out</button>
</form>
{% else %}
<h3>You are currently <i>not</i> signed in</h3>
{% endif %}

<div>
  <button onclick="signin(false)">Sign In</button>
  <button onclick="signin(true, 'email')">Passwordless (Email)</button>
  <button onclick="signin(true, 'sms')">Passwordless (SMS)</button>
  <button onclick="signin(true, 'magiclink')">Passwordless (magic link)</button>
</div>

{% endblock %}


{% block extrajs %}
<script src="https://cdn.auth0.com/js/lock-9.1.min.js"></script>
<script src="https://cdn.auth0.com/js/lock-passwordless-2.2.min.js"></script>
<script type="text/javascript">
function signin(passwordless, method) {
  var lock;
  if (passwordless) {
    lock = new Auth0LockPasswordless(
      '{{ AUTH0_CLIENT_ID }}',
      '{{ AUTH0_DOMAIN }}'
    );
    if (method === 'email') {
      // lock.emailcode(function(error, profile, id_token, access_token, state, refresh_token) {
      //   if (!error) {
      //     alert("User has logged in");
      //   }
      // });
      lock.emailcode({ callbackURL: '{{ AUTH0_CALLBACK_URL }}' });
    } else if (method === 'magiclink') {
      lock.magiclink({ closable: false });
    } else if (method === 'sms') {
      lock.sms({ callbackURL: '{{ AUTH0_CALLBACK_URL }}' });
    } else {
      throw new Error(method);
    }
  } else {
    lock = new Auth0Lock('{{ AUTH0_CLIENT_ID }}', '{{ AUTH0_DOMAIN }}');
    lock.show({
      callbackURL: '{{ AUTH0_CALLBACK_URL }}',
      responseType: 'code',
      authParams: {
        scope: 'openid profile',
      },
    });
  }
}
</script>
{% endblock %}
