{% extends "base.html" %}

{% block extrahead %}
<style>
td.number {
  text-align: right;
}
</style>
{% endblock %}

{% block content %}

<table class="ui selectable table">
  {% set month = 0 %}
  {% set year = 0 %}
  {% for blogitem in blogitems %}
    <tr>
      <td>
        <a href="{{ url('plog_awspa', blogitem.oid) }}">{{ blogitem.title }}</a>
        {{ blogitem.pub_date.strftime('%B %Y') }}
      </td>
      <td class="number">
        {% if blogitem.get_all_keywords() %}
        {{ show_keyword_count(blogitem, keyword_count) }}
        {% else %}
        <b style="color:red">No keywords at all!</b>
        {% endif %}
      </td>
    </tr>
    {% set year = blogitem.pub_date.year %}
    {% set month = blogitem.pub_date.month %}
  {% endfor %}
</table>
{% endblock %}
