<a href="{{ item.detail_page_url }}" class="ui tiny image">
  {% if hide_image %}
  <img class="placeholder"
        src="https://via.placeholder.com/130x160"
        data-src="{{ item.image_medium }}"
        alt="{{ item.title }}"/>
  {% else %}
  <img src="{{ item.medium_image }}" alt="{{ item.title }}"/>
  {% endif %}
</a>
<div class="content">
  <a href="{{ item.detail_page_url }}" class="header">{{ item.title }}</a>
  <div class="meta">
    {% if item.display_price %}
    <span class="price" style="font-weight:bold;color:#b12704;">
      {{ item.display_price }}
    </span>
    {% endif %}
    {% if item.authors %}
    <span class="authors">By <b>{{ item.authors|join(', ') }}</b></span><br/>
    {% elif item.brand %}
    <span class="item-brand">By <b>{{ item.brand }}</b></span><br/>
    {% endif %}
  </div>
  <div class="description">

      {% if item.publication_date %}
        <b>Publication Date:</b> {{ item.publication_date }}<br />
      {% endif %}
      {% if item.item_info.classifications and item.item_info.classifications.binding %}
        <b>Binding:</b> {{ item.item_info.classifications.binding.display_value }}<br />
      {% endif %}
      {% if item.item_info.content_info and item.item_info.content_info.pages_count %}
        <b>Number of Pages:</b> {{ item.item_info.content_info.pages_count.display_value }}<br />
      {% endif %}
      {#{% if item.manufacturer %}
        <b>Manufacturer:</b> {{ item.manufacturer }}<br />
      {% endif %}#}

  </div>
</div>
