<div class="item" data-asin="{{ awsproduct.asin }}">
  <a href="{{ item.DetailPageURL }}" class="ui tiny image">
    <img src="{{ item.MediumImage.URL }}" alt="{{ item.ItemAttributes.Title }}">
  </a>
  <div class="content">
    <a href="{{ item.DetailPageURL }}" class="header">{{ item.ItemAttributes.Title }}</a>
    <div class="meta">
      <span class="price" style="font-weight:bold;color:#b12704;">
        {{ item.ItemAttributes.ListPrice.FormattedPrice }}
      </span>
      {% if item.ItemAttributes.Author %}
      <span class="authors">By <b>{{ item.ItemAttributes.Author|join(', ') }}</b></span><br/>
      {% elif item.ItemAttributes.Brand %}
      <span class="authorsx">By <b>{{ item.ItemAttributes.Brand }}</b></span><br/>
      {% else %}
      <span class="authorsx">Product Group <b>{{ item.ItemAttributes.ProductGroup }}</b></span><br/>
      {% endif %}
    </div>
    <div class="description">
      {% if item.ItemAttributes.ProductGroup == 'Book' %}
        {% if item.ItemAttributes.PublicationDate %}
          <b>Publication Date:</b> {{ item.ItemAttributes.PublicationDate }}<br />
        {% endif %}
        {% if item.ItemAttributes.Binding %}
          <b>Binding:</b> {{ item.ItemAttributes.Binding }}<br />
        {% endif %}
        {% if item.ItemAttributes.NumberOfPages %}
          <b>Number of Pages:</b> {{ item.ItemAttributes.NumberOfPages }}<br />
        {% endif %}
      {% elif item.ItemAttributes.Feature %}
        <ul style="padding-left:14px">
          {% for feature in item.ItemAttributes.Feature %}
          <li>
            {{ feature }}
          </li>
          {% endfor %}
        </ul>
      {% elif item.ItemAttributes.ProductGroup == 'Movie' or item.ItemAttributes.ProductGroup == 'DVD' %}
        {% if item.ItemAttributes.ReleaseDate %}
          <b>Release Date:</b> {{ item.ItemAttributes.ReleaseDate }}<br />
        {% endif %}
        {% if item.ItemAttributes.Genre %}
          <b>Genre:</b> {{ item.ItemAttributes.Genre }}<br />
        {% endif %}
        {% if item.ItemAttributes.Director %}
          <b>Director:</b> {{ item.ItemAttributes.Director }}<br />
        {% endif %}
      {% else %}
      <pre>
        {{ json_print(item.ItemAttributes, indent=2, sort_keys=True) }}
      </pre>
      {% endif %}
    </div>
    {% if show_action_button %}
    <div class="extra">
      <div class="ui right floated button">
        Pick
      </div>
    </div>
    {% endif %}
  </div>
</div>
