{% extends "base.html" %}

{% block extrahead %}
<style>
.all-keywords .keyword {
  border-bottom: 1px solid #efefef;
  padding: 15px;
}
.all-keywords .keyword button.toggle {
  float: right;
}
.all-keywords .item.disabled {
  opacity: 0.2;
}
</style>
{% endblock %}

{% block extrajs %}
<script defer src="{{ static('awspa/js/keywords.js') }}"></script>
{% endblock %}

{% block content %}

<div class="all-keywords">
  {% for keyword in keywords_sorted %}
  <form action="" class="ui form keyword" method="post">
    {% csrf_token %}
    <input type="hidden" name="keyword" value="{{ keyword }}"/>
    <button type="button" class="ui button toggle"
     title="{{keywords_disabled[keyword]}} disabled. {{ keywords_count[keyword] - keywords_disabled[keyword] }} active.">
      {{ keywords_count[keyword] - keywords_disabled[keyword] }} active {{ keywords_disabled[keyword]}} disabled
    </button>
    <h2>
      {{ keyword }}
    </h2>
    <div class="ui divided items" style="display:none">
      {% for awsproduct in keywords[keyword] %}
        {{ awspa_product(awsproduct, show_action_button=True, hide_image=True) }}
      {% endfor %}
    </div>
  </form>
  {% endfor %}
</div>


{% endblock %}
