{% extends "base.html" %}

{% block title_prefix %}{{ page_title }}{% endblock %}

{% block extrahead %}
<style type="text/css">
#download-data h4,
#stats h3,
#stats h4 { margin-top: 50px; }
</style>
{% endblock %}

{% block content %}

<h2>{{ page_title }}</h2>

<h3>The Experiments</h3>

<ul>
  <li><a href="{{ url('localvsxhr:localforage') }}">localForage vs. XHR</a></li>
  <li><a href="{{ url('localvsxhr:localforage_localstorage') }}">localForage (localStorage driver) vs. XHR</a></li>
  <li><a href="{{ url('localvsxhr:localstorage') }}">localStorage vs. XHR</a></li>
</ul>

<p>
  At the time of writing
  <code>{{ count_boot_measurements }}</code> boot-up measurements and
  <code>{{ count_measurements }}</code> regular measurements
  have been recorded.
</p>
<p>
  Ultimately, the purpose of these experiments is to try to get a basis
  for understanding web performance related to using the browser local
  storage as a cache to complement XHR (aka. AJAX).
</p>

<div id="stats">
  Please wait, loading stats...
</div>

<div id="download-data">
  <h4>Download all the data</h4>
  <p>
    <a href="{{ url('localvsxhr:download_json') }}">Opens as a JSON document</a>
    so you can do your own analysis.
  </p>
</div>
{% endblock %}

{% block extrajs %}
<script src="{{ static('localvsxhr/jquery-2.1.3.min.js') }}"></script>
<script>
$('#stats').load('/localvsxhr/stats');
</script>
{% endblock %}
