{% macro about_units_macro() %}
<p style="float:right; font-size:80%">
  All numbers are <b>milliseconds</b> except the last column which is a plain count.
</p>
{% endmacro %}


<h4>Drivers</h4>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Driver</th>
      <th>Median</th>
      <th>Average</th>
      <th title="Standard Deviation">Std Dev.</th>
      <th>Max.</th>
      <th>Min.</th>
      <th title="Number of measurements">#</th>
    </tr>
  </thead>
  <tbody>
    {% for data in drivers %}
    <tr>
      <td>{{ data.name }}</td>
      <td class="median">{{ floatformat(data.median, 2) }}</td>
      <td>{{ floatformat(data.average, 2) }}</td>
      <td>{{ floatformat(data.stddev, 2) }}</td>
      <td>{{ floatformat(data.max, 2) }}</td>
      <td>{{ floatformat(data.min, 2) }}</td>
      <td>{{ data.count }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{{ about_units_macro() }}

<h4>Time to Boot</h4>

<table class="table table-hover">
  <thead>
    <tr>
      <th rowspan="2">Driver</th>
      <th colspan="2">Median</th>
      <th colspan="2">Average</th>
      <th colspan="2" title="Standard Deviation">Std Dev.</th>
      <th colspan="2">Max.</th>
      <th colspan="2">Min.</th>
      <th rowspan="2" title="Number of measurements">#</th>
    </tr>
    <tr>
      <th>first</th>
      <th>second</th>
      <th>first</th>
      <th>second</th>
      <th>first</th>
      <th>second</th>
      <th>first</th>
      <th>second</th>
      <th>first</th>
      <th>second</th>
    </tr>
  </thead>
  <tbody>
    {% for data in boots %}
    <tr>
      <td>{{ data.name }}</td>
      <td class="median">{{ floatformat(data.median1, 2) }}</td>
      <td class="median">{{ floatformat(data.median2, 2) }}</td>
      <td>{{ floatformat(data.average1, 2) }}</td>
      <td>{{ floatformat(data.average2, 2) }}</td>
      <td>{{ floatformat(data.stddev1, 2) }}</td>
      <td>{{ floatformat(data.stddev2, 2) }}</td>
      <td>{{ floatformat(data.max1, 2) }}</td>
      <td>{{ floatformat(data.max2, 2) }}</td>
      <td>{{ floatformat(data.min1, 2) }}</td>
      <td>{{ floatformat(data.min2, 2) }}</td>
      <td>{{ data.count }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{{ about_units_macro() }}


<h4>By Browser</h4>
<h5>Take these with a fistfull of salt</h5>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Browser</th>
      <th>Median</th>
      <th>Average</th>
      <th title="Standard Deviation">Std Dev.</th>
      <th>Max.</th>
      <th>Min.</th>
      <th title="Number of measurements">#</th>
    </tr>
  </thead>
  <tbody>
    {% for data in browsers %}
    <tr>
      <td>{{ data.name }}</td>
      <td class="median">{{ floatformat(data.median, 2) }}</td>
      <td>{{ floatformat(data.average, 2) }}</td>
      <td>{{ floatformat(data.stddev, 2) }}</td>
      <td>{{ floatformat(data.max, 2) }}</td>
      <td>{{ floatformat(data.min, 2) }}</td>
      <td>{{ data.count }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{{ about_units_macro() }}


<h3>Analysis and Conclusion</h3>

<p>To be continued...</p>
