h2.ui.header {
  margin-top: 10px;
}
a.better {
  font-weight: bold;
}
.row .page-header {
  padding-bottom: 5px;
  margin: 25px 0 5px 0;
}
.result {
  margin-bottom: 35px;
}
.result h3 {
  margin-bottom: 2px;
}
.result a.url {
  color: green;
}
mark {
  background: #ffffdc;
  color: inherit;
}
