{% extends "base.html" %}

{% block title_prefix %}About this site{% endblock %}

{% block content %}
<h2>About this site</h2>

<p>My name is Peter Bengtsson and I'm a web developer.<br>
This site is my notice board for things that go on in my head.</p>

<p>I currently work for <a href="http://mozilla.org">Mozilla</a> in California.
There I work on the Webtools team which involves working on various tools that
help the development of Firefox.</p>

<p>Virtually all of my work is Open Source and available on
<a href="https://github.com/peterbe">my Github account</a> including
<a href="https://github.com/peterbe/django-peterbecom">this site itself</a>.
</p>

{% endblock %}
