{% extends "base.html" %}

{% block title %}Peterbe.com - Stuff in Peter's head{% endblock %}

{% block extrahead %}
<link rel="prefetch" href="{{ first_post_url }}"> <!-- Firefox -->
<link rel="prerender" href="{{ first_post_url }}"> <!-- Chrome -->
{% endblock %}

{% block pre_content %}
<header class="jumbotron masthead">
  <div class="inner">
    <h1>Peterbe.com</h1>
    <p>A blog and website by Peter Bengtsson</p>
  </div>
</header>
{% endblock %}


{% block content %}

{% if categories %}
<div class="alert alert-info">
    <strong>Filtered home page!</strong>
    Currently only showing blog entries under the
    {% if categories.count() == 1 %}
    category:
    {% else %}
    categories:
    {% endif %}
    {% for category in categories %}
    <a href="{{ url('only_category', category.name.replace(' ','+')) }}" rel="nofollow"
    ><strong>{{ category }}</strong></a>{% if loop.last %}.{% else %}, {% endif %}
    {% endfor %}
    <a href="/">Clear filter</a>
</div>
{% endif %}

{% for post in blogitems %}
		<div class="row">
			<div class="span12">
				<div class="page-header">
					<h1>
					<a href="{{ url('blog_post', post.oid) }}">{{ post.title }}</a><br>
                                        <small style="float:right">{{ post.pub_date.strftime('%d %B %Y') }}</small>
                                        {% set count = post.count_comments() %}
                                        <small>{{ count }} comment{% if count != 1 %}s{% endif %}</small>

                                        {% for category in post.categories.all() %}
                                          {% if loop.first %}&nbsp; <small>{% endif %}
                                          <a rel="nofollow" href="{{ url('only_category', category.name.replace(' ','+')) }}"
                                             title="Filter by the '{{ category.name }}' category"
                                          >{{ category.name }}</a>{% if not loop.last %}, {% endif %}
                                          {% if loop.last %}</small>{% endif %}
                                        {% endfor %}
					</h1>

					{% if post.url %}
					    <h4><a href="{{ post.url }}">{{ post.url }}</a></h4>
					{% endif %}
				</div>

                                {% if post.has_carousel_tag %}
                                {{ expand_carousel_thumbnails(post.rendered, post)|safe }}
                                {% else %}
                                {{ post.rendered|safe }}
                                {% endif %}

			</div>
		</div>

{% endfor %}

<ul class="pager">
  {% if previous_page %}
    <li class="previous">
    <a href="?page={{ previous_page }}">&larr; Newer</a>
    </li>
  {% endif %}
  {% if next_page %}
    <li class="next">
    <a href="?page={{ next_page }}">Older &rarr;</a>
    </li>
  {% endif %}
</ul>

{% endblock %}
