{% extends "base.html" %}

{% block extrahead %}
<style>
a.better { font-weight: bold; }
.row .page-header { padding-bottom:5px; margin: 25px 0 5px 0;}
.page-header a.url { color:green; }
</style>
{% endblock %}

{% block title_prefix %}Search: {{ page_title }}{% endblock %}

{% block content %}

<h2>{{ page_title }}</h2>

{% if better %}
<div class="alert alert-info">
  <p>Perhaps you want to try <a class="better" href="{{ better_url }}">{{ better }}</a> instead.</p>
</div>
{% endif %}

{% for document in documents %}
		<div class="row">
			<div class="span16">
				<div class="page-header">
					<h3>
						<a href="{{ document.url }}">{{ document.title|safe }}</a>
                                                <small>{{ document.date.strftime('%d %b %Y') }}</small>
					</h3>
                                        <a class="url" href="{{ document.url }}">{{ base_url }}{{ document.url }}</a>
				</div>
                                {{ document.summary|safe }}
			</div>
		</div>

{% endfor %}

{% endblock %}
