version: 2
updates:
- package-ecosystem: uv
  directory: "/"
  schedule:
    interval: monthly
  open-pull-requests-limit: 20
- package-ecosystem: "github-actions"
  directory: "/"
  schedule:
    interval: weekly
