{% extends "base.html" %}
{% block title_prefix %}{{ page_title }}{% endblock %}

{% block extrahead %}
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.6.1/fullcalendar.min.css">
{% endblock %}

{% block extrajs %}
<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.2/moment.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.6.1/fullcalendar.min.js"></script>
{% javascript 'calendar' %}
{% endblock %}

{% block content %}
<div id="calendar"></div>
{% endblock %}
