{% extends "base.html" %}
{% block title_prefix %}{{ page_title }}{% endblock %}

{% block extrahead %}
<link rel="stylesheet" href="{{ static("libs/codemirror/codemirror.css") }}">
<!--<link rel="stylesheet" href="{{ static("libs/codemirror/docs.css") }}">-->
<style>
#id_oid, #id_title { width:50%; }
#id_text, #id_summary, #id_url { width:100%; }
#thumbnails {height:180px;
overflow-y:scroll;}
#thumbnails input { font-size:80%; height:11px; }

/* override what bootstrap set */
pre { line-height: 15px; }
#id_text { height: 600px; }
#id_summary { height: 85px; }
/* override CodeMirror */
.CodeMirror-scroll { height: 400px; }
.CodeMirror { border-top: 1px solid #999; border-bottom: 1px solid #999; }
</style>
{% endblock %}

{% block extrajs %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="{{ static("libs/codemirror/codemirror.js") }}"></script>
<script src="{{ static("libs/codemirror/modes/xml.js") }}"></script>
<script src="{{ static("libs/codemirror/modes/markdown.js") }}"></script>
<script src="{{ static("libs/codemirror/modes/gfm.js") }}"></script>
<script src="{{ static("libs/codemirror/modes/rst.js") }}"></script>
<script src="{{ static("js/editpost.js") }}"></script>
{% endblock %}

{% block content %}

<div id="thumbnails" style="width:250px; float:right;">
{% if blogitem %}
<a style="float:right" href="{{ url('plog_add_file') }}?oid={{ blogitem.oid }}">add files</a>
{% endif %}

<h4>Thumbnails</h4>
{% if blogitem %}
<div class="inner"></div>
{% else %}
<em>after you can add em</em>
{% endif %}
</div>

<h2>{{ page_title }}</h2>

<form action="" method="post">{{ csrf() }}
{{ bootstrapform(form)|safe }}

  <div class="form-actions">
    <button type="submit" class="btn btn-primary">Save changes</button>
    <button class="btn">Cancel</button>
  </div>
</form>

{% if blogitem %}
<div>
<p>To email pictures send an email to:
<code>{{ INBOUND_EMAIL_ADDRESS }}</code><br>
with the subject line:
<code>{{ blogitem.get_or_create_inbound_hashkey() }}: Your file title here</code>
</p>
</div>
{% endif %}

<p style="border-top:1px solid #ccc">
preview &darr;
&nbsp;
{% if blogitem %}
<a href="{{ url('blog_post', blogitem.oid) }}">view &rarr;</a>
{% endif %}
</p>

<div id="preview-container"></div>

{% endblock %}
