{% extends "base.html" %}

{% block extrahead %}
<link rel="stylesheet" href="{{ static("libs/codemirror/codemirror.css") }}">
<style>
#id_oid, #id_title { width:50%; }
#id_text, #id_summary, #id_url { width:100%; }
#thumbnails-side {
    height: 180px;
    overflow-y: scroll;
    width: 250px;
    float: right;
}
#thumbnails-side input { font-size:80%; height:11px; }

/* override what bootstrap set */
pre { line-height: 15px; }
#id_text { height: 600px; }
#id_summary { height: 85px; }
/* override CodeMirror */
.CodeMirror-scroll { height: 400px; }
.CodeMirror { border-top: 1px solid #999; border-bottom: 1px solid #999; }
</style>
{% endblock %}

{% block extrajs %}
<script src="{{ static("libs/codemirror/codemirror.js") }}"></script>
<script src="{{ static("libs/codemirror/modes/xml.js") }}"></script>
<script src="{{ static("libs/codemirror/modes/markdown.js") }}"></script>
<script src="{{ static("libs/codemirror/modes/gfm.js") }}"></script>
<script src="{{ static("libs/codemirror/modes/rst.js") }}"></script>
<script src="{{ static("js/editpost.js") }}"></script>
{% endblock %}

{% block content %}

<div id="thumbnails-side">
  {% if blogitem %}
  <a style="float:right" href="{{ url('plog_add_file') }}?oid={{ blogitem.oid }}">add files</a>
  {% endif %}

  <h4>Thumbnails</h4>
  {% if blogitem %}
    <div class="inner"></div>
  {% else %}
    <em>after you can add em</em>
  {% endif %}
</div>

<form action="" class="ui form" method="post">{{ csrf() }}
{{ semanticuiform(form) }}

  <div class="form-actions">
    <button type="submit" class="ui button primary">Save changes</button>
    <button class="btn ui button">Cancel</button>
  </div>
</form>


<p style="border-top:1px solid #ccc; margin-top: 20px">
preview &darr;
&nbsp;
{% if blogitem %}
<a href="{{ url('blog_post', blogitem.oid) }}">view &rarr;</a>
{% endif %}
</p>

<div id="preview-container"></div>

{% endblock %}
