{% extends "base.html" %}

{% block title_prefix %}New blog comments{% endblock %}

{% block extrahead %}
<style>
</style>
{% endblock %}

{% block content %}
<h1>Latest new blog comments</h1>

{% for comment in comments %}
<div class="comment">
<blockquote>
  <p>{{ comment.rendered|safe }}</p>
  {% if not comment.approved %}
  <span class="label warning">Not approved</span>
  <a style="margin-left:10px; font-size:0.9em" href="{{ comment.blogitem.get_absolute_url() }}/approve/{{ comment.oid }}">approve</a>
  <a style="margin-left:10px; font-size:0.9em" href="{{ comment.blogitem.get_absolute_url() }}/delete/{{ comment.oid }}">delete</a>
  {% endif %}
  <small>{% if comment.name %}<b>{{ comment.name }}</b>{% else %}<em>Anonymous</em>{% endif %}
  on <a href="{{ comment.blogitem.get_absolute_url() }}{% if not comment.approved %}?admin=1{% endif %}#{{ comment.oid }}">{{ comment.blogitem.title }}</a>
  {{ timesince(comment.add_date) }} ago
  </small>
</blockquote>
</div>
{% endfor %}


{% endblock %}
