{% extends "base.html" %}
{% block title_prefix %}Hits{% endblock %}


{% block content %}

<!-- <div id="gauges" style="float:right">

</div> -->

<h3>Hits</h3>

<table class="condensed-table">
  <thead>
    <tr>
      <th style="text-align:left">OID</th>
      <th>Hits</th>
    </tr>
  </thead>
  <tbody>
    {% for hit in all_hits %}
    <tr>
      <td>
        <a href="/plog/{{ hit.oid }}">{{ hit.oid }}</a>
      </td>
      <td>{{ thousands(hit.hits) }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
