{% extends "base.html" %}
{% block title_prefix %}Hits{% endblock %}


{% block content %}

<h3>Hits</h3>

<table class="table table-condensed">
  <thead>
    <tr>
      <th style="text-align:left">Title</th>
      <th>Score</th>
      <th>Hits</th>
      <th>Age</th>
    </tr>
  </thead>
  <tbody>
    {% for hit in all_hits %}
    <tr>
      <td>
        <a href="/plog/{{ hit.oid }}">{{ hit.title }}</a>
      </td>
      <td>{{ hit.score | round }}</td>
      <td>{{ thousands(hit.hits) }}</td>
      <td>{{ hit.age }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
