[flake8]
max-line-length = 88

# black puts in a space in places like `phrases[i + 1:]`
# to become `phrases[i + 1 :]` which is incompatible with flake8 at
# the moment
ignore = E203,W503

exclude=
    peterbecom/*/migrations/*,
    peterbecom/settings/__init__.py,
    peterbecom/settings/local.py,
    peterbecom/wsgi.py,
    .git,
    __pycache__,
    # Sphinx docs is best left as is
    hack.*py,
    manage.py,
    dummy.py,
