[flake8]
max-line-length = 88

# Based on https://github.com/ambv/black/blob/master/.flake8
ignore = E203, E266, E501, W503, W504

exclude=
    peterbecom/*/migrations/*,
    peterbecom/settings/__init__.py,
    peterbecom/settings/local.py,
    peterbecom/wsgi.py,
    .git,
    __pycache__,
    # Sphinx docs is best left as is
    hack.*py,
    manage.py,
    dummy.py,
