*~
*.pyc
all_texts.py
all_texts.txt
all_urls.txt
peterbecom/settings/local.py
log.log
peterbecom-static-content/
peterbecom/settings/live_settings.py
phantomjs-screenshot.png
/plog/
/uwsgilogs/peterbecom.log*
node_modules/
/static/
/podcasts/
.downloadcache/
.mediacache.json
/cache/
TODO
tags
*.commandlock
.docker-build
podcasts
minimalcss/yarn-error.log
.vscode/
.pytest_cache/
yarn-error.log
htmlcov/
GeoLite2-City.mmdb
songsearch-autocomplete/songsearch-autocomplete.zip
cdn-crawl/cdn-crawler-report-every
cdn-crawl/cdn-crawler-sleeptime
cdn-crawl/cdn-crawler-stats.json
venv
peterbecom/cache/
peterbecom/collected/
peterbecom/static/
.env
songsearch-autocomplete-preact/build/
exported-blogcomments.json
peterbecom/base/management/commands/x-cache-some.log
coverage.xml
.coverage.*
elasticsearch-8
.envrc
