psycopg2==2.6.1
Django==1.7.10
Jinja2==2.8
jingo==0.7.1
Pygments==2.0.2
celery==3.1.18
django-celery==3.1.17
django-celery-email==1.1.2
Markdown==2.6.2
sorl-thumbnail==12.3
Pillow==3.0.0
mincss==0.9.0
django-fancy-cache==0.7.2
cssmin==0.2.0
cssselect==0.9.1
BeautifulSoup==3.2.1
hiredis==0.2.0
redis==2.10.3
zope.structuredtext==4.1.0
Unidecode==0.04.18
django-appconf==1.0.1
django-compressor==1.5
requests==2.8.0
six==1.10.0
django-nose==1.4.2
nose==1.3.7
amqp==1.4.7
anyjson==0.3.3
lxml==3.4.4
subprocess32==3.2.6
django-semanticui-form==0.0.1
