# To manually upgrade these; literally edit this file then run:
#
#   pip-compile --generate-hashes requirements.in
#   pip install -I -r requirements.txt

Django==3.2.5
Jinja2==3.0.1
Pygments==2.9.0
Markdown==3.3.4
sorl-thumbnail==12.7.0
Pillow==8.3.1
cssmin==0.2.0
cssselect==1.1.0
requests[security]==2.25.1
lxml==4.6.3
django-semanticui-form==0.0.1
django-pipeline==2.0.6
feedparser==6.0.8
pyquery==1.4.3
xmltodict==0.12.0
pygments-lexer-babylon==0.12.0
optisorl==0.2.1
pytz==2021.1
django-jinja==2.9.0
elasticsearch==7.13.3
elasticsearch-dsl==7.3.0
ftfy==6.0.3
python-dateutil==2.8.1
zope.structuredtext==4.3
redis==3.5.3
dj-database-url==0.5.0
python-decouple==3.4
delegator.py==0.1.1
ptyprocess==0.7.0
ipaddress==1.0.23
django-redis==5.0.0
psycopg2-binary==2.9.1
bleach==3.3.0
rollbar==0.16.1
zopfli==0.1.8
huey==2.3.2
brotlipy==0.7.0
backoff==1.10.0
geoip2==4.2.0
keycdn==0.4.3
django-querycount==0.7.0
profanity==1.1
amightygirl.paapi5-python-sdk==1.0.0
py-avataaars==1.1.2

# Testing (Should these be broken out?)
mock==4.0.3
pytest==6.2.4
pytest-django==4.4.0
requests-mock==1.9.3

# Dev requirements
# Not sure these belong in here but what the heck, it's not a huge overhead
# to put these into production. At least now there's only one file.
flake8==3.9.2
ipython==7.26.0
honcho==1.0.1
pip-tools==6.2.0
