{% macro show_carbon_ad() -%}
<script async type="text/javascript" src="//cdn.carbonads.com/carbon.js?serve=CKYI52Q7&placement=peterbecom" id="_carbonads_js"></script>
{%- endmacro %}

{% if not post.has_carousel_tag() %}
  {% if show_carbon_ad and request.path != '/plog/blogitem-040601-1' %}
    {{ show_carbon_ad() }}
  {% endif %}
{% endif %}


{% if post.has_carousel_tag %}
{{ expand_carousel(post.rendered, post)|safe }}
{% else %}
{{ post.rendered|safe }}
{% endif %}


{% if show_carbon_ad and request.path == '/plog/blogitem-040601-1' %}
  {{ show_carbon_ad() }}
{% endif %}
