{% extends "base.html" %}

{% block extrahead %}
<style>
.keyword {
  border-bottom: 1px solid #efefef;
  padding: 10px;
}
.keyword .loadmore {
  float: right;
}
.keyword h2 small {
  color: rgb(100, 100, 100);
  margin-left: 10px;
}
.keyword h2 a {
  margin-left: 10px;
}
.loadmore button,
.loadmore select {
  display: inline !important;
}
.loadmore select {
  width: 120px !important;
}
.item.disabled {
  opacity: 0.35;
}
</style>
{% endblock %}

{% block extrajs %}
<script defer src="{{ static("js/plog-awspa.js") }}"></script>
{% endblock %}

{% block content %}

<p style="border-bottom:1px solid #ccc; margin-top: 20px">
  <a href="{{ url('edit_post', blogitem.oid) }}">← edit</a>
  &nbsp;
  <a href="{{ url('blog_post', blogitem.oid) }}">view →</a>
</p>


<div class="ui negative message" style="display:none">
  <div class="header">

  </div>
  <p>
  </p>
</div>

<div class="all-keywords">
  {% for keyword in all_keywords %}
  <form action="" class="ui form keyword" method="post">
    {% csrf_token %}
    <input type="hidden" name="keyword" value="{{ keyword }}"/>
    <div class="loadmore">
      <select name="searchindex">
        <option value="Books">Books</option>
        <option value="All">All</option>
      </select>
      <button type="submit" class="ui button" data-keyword="{{ keyword }}">Search more</button>
    </div>
    <h2>{{ keyword }}</h2>
    <div class="ui divided items">
      {% for awsproduct in possible_products[keyword] %}
      <div class="item">
        {{ awspa_product(awsproduct) }}
      </div>
      {% endfor %}
    </div>
  </form>
  {% endfor %}
</div>


<form action="" method="post"
  class="ui form custom-keyword" style="margin-top:50px; margin-bottom:50px">
  {% csrf_token %}
  <select name="searchindex">
    <option value="Books">Books</option>
    <option value="All">All</option>
  </select>
  <div class="ui fluid action input">
    <input name="keyword" placeholder="Custom keyword" type="text">
    <button type="submit" class="ui button">Load Custom Keyword</button>
  </div>
</form>




{% endblock %}
