{% extends "base.html" %}

{% block extrahead %}
<style>
</style>
{% endblock %}

{% block extrajs %}
<script defer src="{{ static("js/plog-awspa.js") }}"></script>
{% endblock %}

{% block content %}



<form action="" class="ui form" method="post"
  data-products="{{ json_print(product_ids) }}">
  {% csrf_token %}

{% for keyword in all_keywords %}
<div class="keyword" style="border-bottom:1px solid #efefef;padding:10px">
  <button style="float:right" type="button" class="loadmore ui button" data-keyword="{{ keyword }}">Load more</button>
  <h2>{{ keyword }}
  </h2>
  <div class="ui divided items">

  </div>
</div>
{% endfor %}

  <!-- <div class="form-actions">
    <button type="submit" class="ui button primary">Save changes</button>
    <button type="button" class="btn ui button">Cancel</button>
  </div> -->
</form>


<p style="border-top:1px solid #ccc; margin-top: 20px">
<a href="{{ url('edit_post', blogitem.oid) }}">← edit</a>
&nbsp;
<a href="{{ url('blog_post', blogitem.oid) }}">view →</a>
</p>


{% endblock %}
