{% extends "base.html" %}
{% block title_prefix %}{{ page_title }}{% endblock %}

{% block extrahead %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.7.0/fullcalendar.min.css">
{% endblock %}

{% block basejs %}
{# deliberately empty #}
{% endblock %}

{% block extrajs %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.3/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.7.0/fullcalendar.js"></script>
{% javascript 'calendar' %}
{% endblock %}

{% block content %}
<div id="calendar"></div>
{% endblock %}
