<div id="{{ comment.oid }}" class="comment{% if depth %} nested d-{{ depth }}{% endif %}">
  <b>{% if comment.name %}{{ comment.name }}{% else %}<i>Anonymous</i>{% endif %}</b>
  <a class="metadata" href="#{{comment.oid}}">{{ comment.add_date.strftime('%d %B %Y') }}</a>
  {%- if not comment.approved %}
  <span class="not-approved"><b>Note:</b> This comment has not been approved yet</span>
  {% endif -%}
  <p>{{ comment.rendered|safe }}</p>
</div>
{% if count_children -%}
  {{ show_comments(comment, all_comments, depth + 1)|safe }}
{% endif %}
