<div id="{{ comment.oid }}" class="comment">
  <div>
    <b>{% if comment.name %}{{ comment.name }}{% else %}<em>Anonymous</em>{% endif %}</b>
    <div class="metadata">
      {{ comment.add_date.strftime('%d %B %Y') }}
      {% if not comment.approved %}
      <span class="not-approved">
        <strong>Note:</strong> This comment has not been approved yet
      </span>
      {% endif %}
    </div>
    <div class="text">
      {{ comment.rendered|safe }}
    </div>
    {% if not preview %}
    {% if allow_comments %}
    <div class="actions">
      <a class="reply" rel="nofollow" data-oid="{{ comment.oid }}"
         href="#{{ comment.oid }}">Reply</a>
    </div>
    {% endif %}
    {% endif %}
  </div>
  {% if not preview %}
  {% if count_children %}
  <div class="comments">
    {{ show_comments(comment, is_staff, all_comments, allow_comments)|safe }}
  </div>
  {% endif %}
  {% endif %}
</div>
