{% extends "base.html" %}

{% block extrahead %}
<link rel="stylesheet" href="{{ static("libs/codemirror/codemirror.css") }}">
<style>
div.ui.borderless.menu,
div.ui.footer {
  display: none;
}
#id_oid, #id_title { width:50%; }
#id_text, #id_summary, #id_url { width:100%; }
#thumbnails-side {
    /*height: 180px;*/
    /*overflow-y: scroll;*/
    /*width: 250px;*/
    /*float: right;*/
}
#thumbnails-side input {
    font-size:80%;
    height:25px;
    width: 380px;
}
#thumbnails-side .thumbnail-wrapper {
    float: left;
    width: 392px;
    border: 1px solid #ccc;
    padding: 5px;
    margin-right: 20px;
    margin-bottom: 20px;
}

#thumbnails-side .inner,
#thumbnails-side .toggle {
    display: none;
}

/* override what bootstrap set */
pre { line-height: 15px; }
#id_text { height: 600px; }
#id_summary { height: 85px; }
/* override CodeMirror */
.CodeMirror-scroll { height: 700px; }
.CodeMirror { border-top: 1px solid #999; border-bottom: 1px solid #999; }
form[method="post"] { clear: left; }
#preview-container {
  margin-bottom: 200px;
}
</style>
{% endblock %}

{% block extrajs %}
<script src="{{ static("libs/codemirror/codemirror.js") }}"></script>
<script src="{{ static("libs/codemirror/modes/xml.js") }}"></script>
<script src="{{ static("libs/codemirror/modes/markdown.js") }}"></script>
<script src="{{ static("libs/codemirror/modes/gfm.js") }}"></script>
<script src="{{ static("libs/codemirror/modes/rst.js") }}"></script>
<script src="{{ static("js/editpost.js") }}"></script>
{% endblock %}

{% block content %}

{% if blogitem %}
<div id="thumbnails-side">

  <h4>Thumbnails <span class="count"></span>
    &nbsp;
    <a href="{{ url('plog_add_file') }}?oid={{ blogitem.oid }}">Add files</a>
    &nbsp;
    <a href="#" class="toggle">Show</a>
  </h4>
  <div class="inner">
  </div>
</div>
{% endif %}

<form action="" class="ui form" method="post">{% csrf_token %}
{{ semanticuiform(form) }}

  <div class="form-actions">
    <button type="submit" class="ui button primary">Save changes</button>
    <button class="btn ui button">Cancel</button>
    <a href="#" id="unimportant-toggle">Show all fields</a>
  </div>
</form>


<p style="border-top:1px solid #ccc; margin-top: 20px">
preview &darr;
&nbsp;
{% if blogitem %}
<a href="{{ url('blog_post', blogitem.oid) }}">view &rarr;</a>
{% endif %}
</p>

<div id="preview-container"></div>

{% endblock %}
