{% extends "base.html" %}

{% block extrahead %}
<style>
div.comment {
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
div.comment p {
  margin-bottom: 5px;
}
</style>
{% endblock %}

{% block content %}

{% csrf_token %}
<div class="comments">
  {% for comment in comments %}
  <div class="comment">
    <p>{{ comment.rendered|safe }}</p>
    <small>{% if comment.name %}<b>{{ comment.name }}</b>{% else %}<em>Anonymous</em>{% endif %}
    on <a href="{{ comment.blogitem.get_absolute_url() }}#{{ comment.oid }}">{{ comment.blogitem.title }}</a>
    {{ timesince(comment.add_date) }} ago

    {% if comment.parent_id %}
    🔙 Reply comment
    {% else %}
    🌴 Root comment
    {% endif %}
    </small>
  </div>
  {% endfor %}
</div>

{% endblock %}
