{% extends "base.html" %}

{% block extrahead %}
<style>
</style>
{% endblock %}

{% block content %}

<p style="border-bottom:1px solid #ccc; margin-top: 20px">
  <a href="{{ url('edit_post', blogitem.oid) }}">← edit</a>
  &nbsp;
  <a href="{{ url('blog_post', blogitem.oid) }}">view →</a>
</p>


<div class="ui link cards">

{% for option in options %}
  <div class="card">

    <div class="image">
      <img src="{{ option.src }}" />
    </div>
    <div class="content">
      <div class="header">{{ option.label }}</div>
      <div class="meta">
        <a>{{ option.size[0] }}x{{ option.size[1] }}</a>
      </div>
      {% if option.used_in_text %}
      <div class="description">
        Found in text.
      </div>
      {% endif %}
    </div>
    <div class="extra content">
      <form action="" method="post">{% csrf_token %}
        <input type="hidden" name="src" value="{{ option.src }}" />
        <button type="submit" class="ui {% if option.current %}primary{% endif %} button">
          {% if options.current %}
          Current one
          {% else %}
          This one
          {% endif %}
        </button>
      </form>
    </div>
  </div>
{% endfor %}
</div>

{% endblock %}
