{% extends "base.html" %}

{% block meta_description %}{% if post.summary %}{{ post.summary }}{% else %}{{ super() }}{% endif %}{% endblock %}

{% block extrahead %}
  {% if screenshot_mode %}
    <meta name="robots" content="noindex, nofollow">
    <link rel="canonical" href="{{ post._absolute_url }}">
  {% else %}

    {% if '/plog/blogitem-040601-1' not in request.path  %}
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{{ post.title }}">
    {% if post.summary %}
    <meta name="twitter:description" content="{{ post.summary }}">
    {% endif %}
    <meta name="twitter:creator" content="@peterbe">
    {% endif %}

    <meta property="og:url" content="{{ post._absolute_url }}">
    <meta property="og:type" content="article">
    <meta property="og:title" content="{{ post.title }}">
    {% if post.summary %}
    <meta property="og:description" content="{{ post.summary }}" />
    {% endif %}

    {% if '/plog/blogitem-040601-1' not in request.path %}
    {% if screenshot_image %}
    <meta name="twitter:image" content="{{ screenshot_image }}">
    <meta property="og:image" content="{{ screenshot_image }}">
    {% elif post.open_graph_image %}
    <meta name="twitter:image" content="{{ post.open_graph_image }}">
    <meta property="og:image" content="{{ post.open_graph_image }}">
    {% endif %}
    {% endif %}
  {% endif %}

  {% if '/plog/blogitem-040601-1' not in request.path  -%}
  <link rel="prerender" href="https://songsear.ch/">
  {%- endif %}
{% endblock %}

{% block title %}
{%- if '/plog/blogitem-040601-1' in request.path  -%}
{% if page > 1 -%}Find song by lyrics (Page {{ page }})
{%- else -%}Find song by lyrics - Looking for songs by the lyrics
{%- endif %}

{%- else -%}
{{ post.title }} - Peterbe.com
{%- endif -%}{% endblock %}

{% block page_title -%}
{{ page_title }}
{% if page > 1 %}<span class="sub header">(Page {{ page }})</span>{% endif %}
{%- endblock %}

{% block page_header_extra %}

  {% if '/plog/blogitem-040601-1' not in request.path  %}
  {% set comment_count = post.count_comments() %}
  <p>
    {{ post.pub_date.strftime('%d %B %Y') }}
    &nbsp;
    <span class="comment-count">
      {{ thousands(comment_count) }} comment{% if comment_count != 1 %}s{% endif %}
    </span>

    &nbsp;
    {% for category in post.categories.all() %}
      <a href="{{ url('only_category', category.name.replace(' ','+')) }}"
         rel="nofollow"
         title="Filter by the '{{ category.name }}' category"
         >{{ category.name }}</a>{% if not loop.last %}, {% endif %}
    {% endfor %}
  </p>
  {% endif %}

  {% if '/plog/blogitem-040601-1' in request.path %}
    <h3 class="ui header">
      {%- if page == 1 -%}
      I'm looking for a song I don't know the name of.
      {%- elif page == 2 -%}
      Looking for a song you heard, but don't know the name?
      {%- elif page == 3 -%}
      I'm looking for a song that goes like this.
      {%- elif page == 4 -%}
      Looking for a song you heard, but don't know the name?
      {%- else -%}
      Look for a song by its lyrics.
      {%- endif -%}
    </h3>
  {% else %}
    {% if post.url %}
    <h4><a href="{{ post.url }}">{{ post.url }}</a></h4>
    {% endif %}
  {% endif %}

{% endblock %}

{% block extrajs %}
  {% if '/plog/blogitem-040601-1' in request.path  %}
  {% else %}
  {% javascript 'plog:post' %}
  {% endif %}

  {% if show_carbon_native_ad and '/plog/blogitem-040601-1' not in request.path  %}
  {% javascript 'carbonnative' %}
  {% endif %}

{% endblock %}

{% block content %}

{% if show_carbon_native_ad and '/plog/blogitem-040601-1' not in request.path %}
<div class="bsa-cpc"></div>
{% endif %}

{% if pub_date_years > 3 and '/plog/blogitem-040601-1' not in request.path %}
<div class="ui {% if pub_date_years > 6 %}warning{% else %}info{% endif %} message"
    style="margin-bottom:40px">
  <div class="header">
    Mind That Age!
  </div>
  <p>
    This blog post is
    <b>{{ pub_date_years }} years old!</b> Most likely, its content is outdated.
    Especially if it's technical.
  </p>
</div>
{% endif %}



{% include "plog/_post.html" %}

{% if show_buttons %}
  <p>
    <a href="https://twitter.com/peterbe" class="ui tiny twitter button"
       target="_blank" rel="noopener">
      Follow <b>@peterbe</b> on Twitter
    </a>
  </p>
{% endif %}

{% if '/plog/blogitem-040601-1' not in request.path %}
<div id="awspa" style="margin-top:30px;display:none"></div>
{% endif %}

{% macro pagination() -%}
  {% if paginate_uri_next or paginate_uri_previous -%}
    {%- if paginate_uri_previous %}
    Go to <a href="{{ paginate_uri_previous }}#comments">← Page {{ page - 1 }}</a>
    &nbsp;
    {%- endif -%}
    <span style="color:#999">(Page {{ page }})</span>
    &nbsp;
    {%- if paginate_uri_next -%}
      <a href="{{ paginate_uri_next }}#comments">Page {{ page + 1 }} →</a>
    {%- endif -%}
  {%- endif -%}

{% endmacro %}



{% if post.hide_comments and post.disallow_comments %}
  {% if '/plog/blogitem-040601-1' not in request.path %}
  <p><em>Comments closed for this page</em></p>
  {% endif %}
{% else %}
  <h2 class="ui dividing header" id="comments">
    {% if comments_truncated %}
    Recent Comments
    {% else %}
    Comments
    {% endif %}
    <span class="pagination sub header">
      {{ pagination() }}
    </span>
  </h2>

  {% if post.hide_comments %}
    {% set comment_count = post.count_comments() %}
    {% if comment_count %}
    <p><em>Comments hidden. Sorry.</em></p>
    {% endif %}
  {% else %}
    <div id="comments-outer" class="ui comments">
      {% include "plog/_all_comments.html" %}
    </div>
  {% endif %}

  {% if post.disallow_comments %}
    <p><em>Comments closed</em></p>
  {% else %}
    <div id="preview-comment-outer" class="ui comments preview" style="display:none"></div>

    <form action="{{ url('submit', post.oid) }}" method="post" id="comment" class="ui form">
      {#
      <div class="ui inverted dimmer">
        <div class="ui text loader">Thank you for posting a comment</div>
      </div>
      #}
      <div class="field">
        <label>What do you think?</label>
        <textarea name="comment" rows="5" aria-label="Your comment"></textarea>
      </div>

      <div class="field">
        <input type="hidden" name="csrfmiddlewaretoken" value="">
        <input type="hidden" name="parent" value="">
        <div class="two fields">
          <div class="field">
            <input name="name" aria-label="Your full name" placeholder="Your full name" title="Your full name">
          </div>
          <div class="field">
            <input type="email" name="email" aria-label="Your email" placeholder="Your email (never shown, never shared)" title="Your email">
          </div>
        </div>

        <p class="note">Your email will never ever be published</p>
      </div>
      <button type="submit" class="ui button primary preview">Preview first</button>
      <button type="submit" class="ui button post">Post comment</button>
    </form>

    <div class="pagination pagination-footer">
      {{ pagination() }}
    </div>

  {% endif %}

{% endif %}


{% if '/plog/blogitem-040601-1' not in request.path %}
  <h2 class="ui dividing header">Related posts</h2>

  <dl>
    {% if previous_post %}
    <dt>Previous:</dt>
    <dd><a href="{{ previous_post.get_absolute_url() }}">{{ previous_post.title }}</a>
    <small>{{ previous_post.pub_date.strftime('%d %B %Y') }}</small>
    </dd>
    {% endif %}

    {% if next_post %}
    <dt>Next:</dt>
    <dd><a href="{{ next_post.get_absolute_url() }}">{{ next_post.title }}</a>
    <small>{{ next_post.pub_date.strftime('%d %B %Y') }}</small>
    </dd>
    {% endif %}
  </dl>

  {% if related_by_keyword %}
  <dl>
    <dt>Related by Keyword:</dt>
    {% for each in related_by_keyword %}
    <dd><a href="{{ each.get_absolute_url() }}">{{ each.title }}</a>
    <small>{{ each.pub_date.strftime('%d %B %Y') }}</small>
    </dd>
    {% endfor %}
  </dl>
  {% endif %}

  {% if related_by_text %}
  <dl>
    <dt>Related by Text:</dt>
    {% for each in related_by_text %}
    <dd><a href="{{ each.get_absolute_url() }}">{{ each.title }}</a>
    <small>{{ each.pub_date.strftime('%d %B %Y') }}</small>
    </dd>
    {% endfor %}
  </dl>
  {% endif %}

{% endif %}

{% endblock %}
