{% extends "base.html" %}

{% block extrahead %}
  {% if screenshot_mode %}
    <meta name="robots" content="noindex, nofollow">
    <link rel="canonical" href="{{ post._absolute_url }}">
  {% else %}

    {% if post.proper_keywords %}
      <meta name="keywords" content="{{ ','.join(post.proper_keywords) }}">
    {% endif %}
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{{ post.title }}">
    {% if post.summary %}
    <meta name="twitter:description" content="{{ post.summary }}">
    {% endif %}
    <meta name="twitter:creator" content="@peterbe">

    <meta property="og:url" content="{{ post._absolute_url }}">
    <meta property="og:type" content="article">
    <meta property="og:title" content="{{ post.title }}">
    {% if post.summary %}
    <meta property="og:description" content="{{ post.summary }}" />
    {% endif %}

    {% if screenshot_image %}
    <meta name="twitter:image" content="{{ screenshot_image }}">
    <meta property="og:image" content="{{ screenshot_image }}">
    {% elif post.open_graph_image %}
    <meta name="twitter:image" content="{{ post.open_graph_image }}">
    <meta property="og:image" content="{{ post.open_graph_image }}">
    {% endif %}
  {% endif %}

  <style>
  span.not-approved {
    font-size:90%;
    color:red;
    padding-left:10px;
  }
  .ui.comments .comment .metadata {
    display: inline-block;
    margin-left: 0.5em;
    color: rgba(0, 0, 0, 0.4);
    font-size: 0.875em;
  }
  .ui.comments .comment .metadata a {
    color: rgba(0, 0, 0, 0.4);
  }
  .ui.comments .comment .metadata a:hover {
    color: rgba(0, 0, 0, 0.8);
  }
  </style>

  {% if request.path == '/plog/blogitem-040601-1' %}
  <link rel="prerender" href="https://songsear.ch/">
  {% endif %}
{% endblock %}


{% block page_title %}{{ post.title }}{% endblock %}


{% block page_header_extra %}
  {% set count = post.count_comments() %}

  {% if request.path != '/plog/blogitem-040601-1' %}
  <p>
    {{ post.pub_date.strftime('%d %B %Y') }}
    &nbsp;
    <span class="comment-count">
      {{ count }} comment{% if count != 1 %}s{% endif %}
    </span>

    &nbsp;
    {% for category in post.categories.all() %}
      <a href="{{ url('only_category', category.name.replace(' ','+')) }}"
         rel="nofollow"
         title="Filter by the '{{ category.name }}' category"
         >{{ category.name }}</a>{% if not loop.last %}, {% endif %}
    {% endfor %}
  </p>
  {% endif %}

  {% if request.path == '/plog/blogitem-040601-1' %}
    {#<h3 class="ui header">Looking for a song you heard, but don't know the name?</h3>#}
    <h3 class="ui header">Looking for a song you don't know the name of?</h3>
  {% else %}
    {% if post.url %}
    <h4><a href="{{ post.url }}">{{ post.url }}</a></h4>
    {% endif %}
  {% endif %}

{% endblock %}

{% block extrajs %}
  {% if request.path == '/plog/blogitem-040601-1' %}
  {% else %}
  {% javascript 'plog:post' %}
  {% endif %}

  {% if request.path != '/plog/blogitem-040601-1' %}
  {% javascript 'carbonnative' %}
  {% endif %}

{% endblock %}

{% block content %}

<!-- request.path="{{request.path}}" -->
{% if request.path != '/plog/blogitem-040601-1' %}
<div class="bsa-cpc"></div>
{% endif %}

  {% if pub_date_years > 3 and request.path != '/plog/blogitem-040601-1' %}
  <div class="ui {% if pub_date_years > 6 %}warning{% else %}info{% endif %} message"
     style="margin-bottom:40px">
    <div class="header">
      Mind That Age!
    </div>
    <p>
      This blog post is
      <b>{{ pub_date_years }} years old!</b> Most likely, its content is outdated.
      Especially if it's technical.
    </p>
  </div>
  {% endif %}

{% include "plog/_post.html" %}


{% if show_buttons %}
  <p>
    <a href="https://twitter.com/peterbe" class="ui tiny twitter button"
       target="_blank" rel="noopener">
      Follow <b>@peterbe</b> on Twitter
    </a>
  </p>
{% endif %}

  <div id="awspa" style="margin-top:30px">

  </div>

{% if post.hide_comments and post.disallow_comments %}
  {% if request.path != '/plog/blogitem-040601-1' %}
  <p><em>Comments closed for this page</em></p>
  {% endif %}
{% else %}
  <h2 class="ui dividing header">
    {% if comments_truncated %}
    Recent Comments
    {% else %}
    Comments
    {% endif %}
  </h2>

  {% if post.hide_comments %}
    {% if count %}
    <p><em>Comments hidden. Sorry.</em></p>
    {% endif %}
  {% else %}
    <div id="comments-outer" class="ui comments">
      {% if request.path != '/plog/blogitem-040601-1' %}
      {% if comments_truncated %}
      <div class="ui message compact comments-truncated">
        <p>
          Only showing the {{ comments_truncated }} most recent comments.
          ({{ thousands(count_comments) }} in total).
          <button class="mini ui button">Load them all</button>
        </p>
      </div>
      {% endif %}
      {% endif %}

      {% include "plog/_all_comments.html" %}

    </div>

  {% endif %}

  {% if post.disallow_comments %}
    <p><em>Comments closed</em></p>
  {% else %}
    <div id="preview-comment-outer" class="ui comments preview" style="display:none"></div>

    <form action="{{ url('submit', post.oid) }}" method="post" id="comment" class="ui form">
      {#
      <div class="ui inverted dimmer">
        <div class="ui text loader">Thank you for posting a comment</div>
      </div>
      #}
      <div class="field">
        <label>What do you think?</label>
        <textarea name="comment" tabindex="1" rows="5"></textarea>
      </div>

      <div class="field">
        <input type="hidden" name="csrfmiddlewaretoken" value="">
        <input type="hidden" name="parent" value="">
        <div class="two fields">
          <div class="field">
            <input name="name" placeholder="Your full name" title="Your full name" tabindex="2">
          </div>
          <div class="field">
            <input type="email" name="email" placeholder="Your email (never shown, never shared)" title="Your email" tabindex="3">
          </div>
        </div>

        <p class="note">Your email will never ever be published</p>
      </div>
      <button type="submit" class="ui button primary preview" tabindex="4">Preview first</button>
      <button type="submit" class="ui button post" tabindex="5">Post comment</button><br>
      <p class="cancel" style="display:none"><a href="./" title="Abandon ship!">Cancel</a></p>

    </form>

    {% if request.path == '/plog/blogitem-040601-1' %}
    <div class="ui message floating warning" style="margin-top:20px;display:block">
      <div class="header">
          Before you post a comment...
      </div>
      <p>
        <b>Go to
          <a href="https://songsear.ch/" title="Search for songs by the lyrics">songsear.ch</a>
          and do your search</b>,
          then copy the link to the search results
        together with your comment.
      </p>
    </div>
    {% endif %}
  {% endif %}

{% endif %}


{% if request.path != '/plog/blogitem-040601-1' %}
  <h2 class="ui dividing header">Related posts</h2>

  <dl>
    {% if previous_post %}
    <dt>Previous:</dt>
    <dd><a href="{{ previous_post.get_absolute_url() }}">{{ previous_post.title }}</a>
    <small>{{ previous_post.pub_date.strftime('%d %B %Y') }}</small>
    </dd>
    {% endif %}

    {% if next_post %}
    <dt>Next:</dt>
    <dd><a href="{{ next_post.get_absolute_url() }}">{{ next_post.title }}</a>
    <small>{{ next_post.pub_date.strftime('%d %B %Y') }}</small>
    </dd>
    {% endif %}
  </dl>

  {% if related_by_keyword %}
  <dl>
    <dt>Related by Keyword:</dt>
    {% for each in related_by_keyword %}
    <dd><a href="{{ each.get_absolute_url() }}" data-plogrank="{{ each.plogrank }}">{{ each.title }}</a>
    <small>{{ each.pub_date.strftime('%d %B %Y') }}</small>
    </dd>
    {% endfor %}
  </dl>
  {% endif %}

  {% if related_by_text %}
  <dl>
    <dt>Related by Text:</dt>
    {% for each in related_by_text %}
    <dd><a href="{{ each.get_absolute_url() }}" data-plogrank="{{ each.plogrank }}">{{ each.title }}</a>
    <small>{{ each.pub_date.strftime('%d %B %Y') }}</small>
    </dd>
    {% endfor %}
  </dl>
  {% endif %}

{% endif %}

{% endblock %}
