{% extends "base.html" %}

{% block extrahead %}
  {% if post.proper_keywords %}
    <meta name="keywords" content="{{ ','.join(post.proper_keywords) }}">
  {% endif %}
  <style>
  span.not-approved { /* no mincss */
    float:right;
    font-size:90%;
    color:red;
  }
  </style>
{% endblock %}


{% block page_title %}{{ post.title }}{% endblock %}


{% block page_header_extra %}
  {% set count = post.count_comments() %}

  {% if request.path != '/plog/blogitem-040601-1' %}
  <p>
    {{ post.pub_date.strftime('%d %B %Y') }}
    &nbsp;
    <span class="comment-count">
      {{ count }} comment{% if count != 1 %}s{% endif %}
    </span>

    &nbsp;
    {% for category in post.categories.all() %}
      <a href="{{ url('only_category', category.name.replace(' ','+')) }}"
         rel="nofollow"
         title="Filter by the '{{ category.name }}' category"
         >{{ category.name }}</a>{% if not loop.last %}, {% endif %}
    {% endfor %}
  </p>
  {% endif %}

  {% if post.url %}
  <h4><a href="{{ post.url }}">{{ post.url }}</a></h4>
  {% endif %}

{% endblock %}


{% block extrajs %}
  {% javascript 'blogitem' %}

  {% if show_buttons %}
  <script>
  {% include "plog/twitter_javascript.js" %}
  </script>
  {% endif %}
{% endblock %}

{% block content %}

{% include "plog/_post.html" %}

{% if show_buttons %}
  <section id="buttons" style="display:none">
    <a href="https://twitter.com/peterbe" class="twitter-follow-button" data-show-count="false">Follow @peterbe</a>
  </section>
{% endif %}

{% if post.hide_comments and post.disallow_comments %}
  <p><em>Comments closed for this page</em></p>
{% else %}
  <h2 class="ui dividing header">Comments</h2>

  {% if post.hide_comments %}
    {% if count %}
    <p><em>Comments hidden. Sorry.</em></p>
    {% endif %}
  {% else %}
    <div id="comments-outer" class="ui comments">
      {% include "plog/_all_comments.html" %}
    </div>
    {% if comments_truncated %}
    <div class="ui message comments-truncated">
      <div class="ui inverted dimmer">
        <div class="ui text loader">Loading all the other comments</div>
      </div>
      <div class="header">
        Comments truncated
      </div>
      <p>
        Only showing the first {{ comments_truncated }} comments
        ({{ thousands(post.count_comments()) }} in total).
        <br>
        <button class="ui button">Load them all!</button>
      </p>
    </div>
    {% endif %}

  {% endif %}

  {% if post.disallow_comments %}
    <p><em>Comments closed</em></p>
  {% else %}
    <div id="preview-comment-outer" class="ui comments preview" style="display:none"></div>

    <form action="{{ url('submit', post.oid) }}" method="post" id="comment" class="ui form">
      <div class="ui inverted dimmer">
        <div class="ui text loader">Thank you for posting a comment</div>
      </div>
      <div class="field">
        <label>What do you think?</label>
        <textarea name="comment" tabindex="1" rows="5"></textarea>
      </div>

      <div class="field">
        <input type="hidden" name="csrfmiddlewaretoken" value="">
        <input type="hidden" name="parent" value="">
        <div class="two fields">
          <div class="field">
            <input name="name" placeholder="Your full name" title="Your full name" tabindex="2">
          </div>
          <div class="field">
            <input name="email" placeholder="Your email" title="Your email" tabindex="3">
          </div>
        </div>

        <p class="note">Your email will never ever be published</p>
      </div>
      <button type="submit" class="ui button primary preview" tabindex="4">Preview first</button>
      <button type="submit" class="ui button post" tabindex="5">Post comment</button><br>
      <p class="cancel" style="display:none"><a href="./" title="Abandon ship!">Cancel</a></p>

    </form>
  {% endif %}

{% endif %}

<h2 class="ui dividing header">Related posts</h2>

<dl>
  {% if previous_post %}
  <dt>Previous:</dt>
  <dd><a href="{{ previous_post.get_absolute_url() }}">{{ previous_post.title }}</a>
  <small>{{ previous_post.pub_date.strftime('%d %B %Y') }}</small>
  </dd>
  {% endif %}

  {% if next_post %}
  <dt>Next:</dt>
  <dd><a href="{{ next_post.get_absolute_url() }}">{{ next_post.title }}</a>
  <small>{{ next_post.pub_date.strftime('%d %B %Y') }}</small>
  </dd>
  {% endif %}
</dl>

{% if related %}
<dl>
  <dt>Related:</dt>
  {% for each in related %}
  <dd><a href="{{ each.get_absolute_url() }}" data-plogrank="{{ each.plogrank }}">{{ each.title }}</a>
  <small>{{ each.pub_date.strftime('%d %B %Y') }}</small>
  </dd>
  {% endfor %}
</dl>
{% endif %}

{% endblock %}
