{% extends "base.html" %}

{% block extrahead %}
<link rel="stylesheet" href="{{ static('autocomplete/autocomplete.css') }}">

<style>
</style>
{% endblock %}

{% block title_prefix %}Autocomplete Tester{% endblock %}

{% block content %}

<h2>Autocomplete Tester</h2>

<form action="/search">
  <!-- <input name="q" id="q" class="search-query" maxlength="90" placeholder="Search" type="text">
  <div id="results">
  </div> -->

  <input class="search-query form-control" placeholder="Search" name="q" type="text">

  <!-- <span class="search-query-wrap">
      <input tabindex="-1" spellcheck="false" autocomplete="off" readonly
       style=""
       class="hint" type="text" value="Peter Bengtsson">
      <input spellcheck="false" autocomplete="off" class="search-query" placeholder="Peter" type="text">
      <pre style="position: absolute; visibility: hidden; white-space: pre; font-family: Lucida Grande; font-size: 24px; font-style: normal; font-variant: normal; font-weight: 400; word-spacing: 0px; letter-spacing: 0px; text-indent: 0px; text-rendering: optimizelegibility; text-transform: none;" aria-hidden="true">a</pre>
      <span style="position: absolute; top: 100%; left: 0px; z-index: 100; display: none; right: auto;" class="tt-dropdown-menu"> </span>
      <div class="results"></div>
  </span>
   -->

</form>



<hr>
<p>Bugs to work out:</p>
<ul>
  <!-- <li>Typing "Tr" should find and highlight and hint complete "Trädgubbar"</li> -->
  <!-- <li>type `difference d` and when you add `a` the hint disappears</li> -->
  <!-- <li>type `django[TAB]` and `mongok[TAB]` and the results disappears</li> -->
  <!-- <li>Start typing `gr` and it will hint `ok` because of "Grok" but if I arrown down perhaps the hint should change</li> -->
  <!-- <li>Clicking the li element on #results should be like clicking the link</li> -->
  <!-- <li>pressing space 10 times does 10 ajax requests</li> -->
</ul>
{% endblock %}


{% block extrajs %}
<script src="{{ static('autocomplete/autocomplete.js') }}"></script>
<script>
Autocomplete(document.querySelectorAll('[name="q"]')[1], {
  url: '/autocomplete?foo=bar'
});
// Autocomplete(document.querySelectorAll('[name="q"]')[1]);

</script>
{% endblock %}
