{% extends "base.html" %}

{% block title %}Peterbe.com - Stuff in Peter's head{% endblock %}

{% block extrahead %}
<style>
h2 {
  margin-top: 50px;
  padding-top: 40px;
  border-top: 1px solid #E8E9E9;
}
</style>
{% endblock %}


{% block page_title %}Peterbe.com{% endblock %}

{% block page_header_extra %}
<p>A blog and website by Peter Bengtsson</p>
{% endblock %}

{% block content %}

{% if categories %}
<div class="alert alert-info">
    <strong>Filtered home page!</strong>
    Currently only showing blog entries under the
    {% if categories.count() == 1 %}
    category:
    {% else %}
    categories:
    {% endif %}
    {% for category in categories %}
    <a href="{{ url('only_category', category.name.replace(' ','+')) }}" rel="nofollow"
    ><strong>{{ category }}</strong></a>{% if loop.last %}.{% else %}, {% endif %}
    {% endfor %}
    <a href="/">Clear filter</a>
</div>
{% endif %}

{% include "homepage/_posts.html" %}

<ul class="pager">
  {% if previous_page %}
    <li class="previous">
    <a href="?page={{ previous_page }}">&larr; Newer</a>
    </li>
  {% endif %}
  {% if next_page %}
    <li class="next">
    <a href="?page={{ next_page }}">Older &rarr;</a>
    </li>
  {% endif %}
</ul>

{% endblock %}
