{% extends "base.html" %}

{% block title %}Peterbe.com - Stuff in Peter's head{% endblock %}

{% block pre_content %}
<header class="jumbotron masthead">
  <div class="inner">
    <h1>Peterbe.com</h1>
    <p>A blog and website by Peter Bengtsson</p>
  </div>
</header>
{% endblock %}


{% block content %}

{% if categories %}
<div class="alert alert-info">
    <strong>Filtered home page!</strong>
    Currently only showing blog entries under the
    {% if categories.count() == 1 %}
    category:
    {% else %}
    categories:
    {% endif %}
    {% for category in categories %}
    <a href="{{ url('only_category', category.name.replace(' ','+')) }}" rel="nofollow"
    ><strong>{{ category }}</strong></a>{% if loop.last %}.{% else %}, {% endif %}
    {% endfor %}
    <a href="/">Clear filter</a>
</div>
{% endif %}

{% include "homepage/_posts.html" %}

<ul class="pager">
  {% if previous_page %}
    <li class="previous">
    <a href="?page={{ previous_page }}">&larr; Newer</a>
    </li>
  {% endif %}
  {% if next_page %}
    <li class="next">
    <a href="?page={{ next_page }}">Older &rarr;</a>
    </li>
  {% endif %}
</ul>

{% endblock %}
