<ol>
  <li><a href="{{ url('ajaxornot:view1') }}"
      {% if 'view1' in request.META['PATH_INFO'] %}class="active"{% endif %}>Pure Django template</a></li>
  <li><a href="{{ url('ajaxornot:view2') }}"
      {% if 'view2' in request.META['PATH_INFO'] %}class="active"{% endif %}>AJAX load table with innerHTML</a></li>
  <li><a href="{{ url('ajaxornot:view3') }}"
      {% if 'view3' in request.META['PATH_INFO'] %}class="active"{% endif %}>AJAX load table with AngularJS</a></li>
</ol>
<h5>Optimization Attempts</h5>
<ol>
  <li><a href="{{ url('ajaxornot:view4') }}"
      {% if 'view4' in request.META['PATH_INFO'] %}class="active"{% endif %}>Content as inline javascript JSON</a></li>
  <li><a href="{{ url('ajaxornot:view5') }}"
      {% if 'view5' in request.META['PATH_INFO'] %}class="active"{% endif %}>Partial server-side, partial AJAX innerHTML</a></li>
  <li><a href="{{ url('ajaxornot:view6') }}"
      {% if 'view6' in request.META['PATH_INFO'] %}class="active"{% endif %}>AJAX load table with React</a></li>
</ol>
<h5>Crazy Hybrids</h5>
<ol>
  <li><a href="{{ url('ajaxornot:view7a') }}"
      {% if 'view7a' in request.META['PATH_INFO'] %}class="active"{% endif %}>React with Lovefield local database</a></li>
  <li><a href="{{ url('ajaxornot:view7b') }}"
      {% if 'view7b' in request.META['PATH_INFO'] %}class="active"{% endif %}>React with <code>localStorage</code> local database</a></li>
</ol>
