{% extends "base.html" %}


{% block title_prefix %}AJAX or Not?{% endblock %}

{% block extrahead %}
<style>
div.toc {
  margin-bottom: 50px;
}
h3 {
  margin-top: 45px;
}
h4 {
  margin-top: 35px;
}
p.pros-and-cons {
  margin-left: 10px;
}
</style>
{% endblock %}

{% block content %}

<h2>AJAX or Not?</h2>

<p class="lead">Understanding the cost and disadvantages and benefits of loading the bulk data of a web page with AJAX.</p>

<p class="lead">
  Please see <a href="/plog/ajax-or-not">this blog post</a> for an overview and introduction.
</p>

<div class="toc">
  <h5>Three Different Versions</h5>
  <ol>
    <li><a href="{{ url('ajaxornot:view1') }}">Pure Django template</a></li>
    <li><a href="{{ url('ajaxornot:view2') }}">AJAX load table with innerHTML</a></li>
    <li><a href="{{ url('ajaxornot:view3') }}">AJAX load table with AngularJS</a></li>
  </ol>
  <h5>Optimization Attempts</h5>
  <ol>
    <li><a href="{{ url('ajaxornot:view4') }}">Content as inline javascript JSON</a></li>
    <li><a href="{{ url('ajaxornot:view5') }}">Server-side above the fold, AJAX underneath</a></li>
  </ol>
</div>

<div class="well">
  <p>
    This site is an experiment with 3 different versions of displaying a bunch
    of content. <b>Ideally as fast as possible</b>.
  </p>
  <p>
    Performance is a mix of actual <b>rendering speed</b> (which very much depends on
    "quirks" in the browser) and <b>perceived speed</b>. <br>
  </p>
  <p>
    Generally, you have a choice between generating a blob of HTML on the server
    and sending that, or using the server just to send a skeleton framework and
    data in some pure format (e.g. JSON).
  </p>
  <p>
    This experiment does NOT recommend a particular approach over another.
    Having these different versions helps to make you aware of the
    <b>characteristics of performance</b> and what it means when you make a
    realistic choice in how you develop your site.
  </p>
  <p>
    We can alternatively call the three versions:
    <ol>
      <li>Thin client</li>
      <li>Half-and-half client</li>
      <li>Fat client</li>
    </ol>
  </p>
  <p>
    All content (HTML, JSON) is served straight out of memcache, with a tiny
    shim of Python in Django to make that happen.<br>
    <a href="https://github.com/peterbe/django-peterbecom/tree/master/peterbecom/apps/ajaxornot"
    >All this code is on GitHub</a>.
  </p>
</div>

<h3>Three Different Versions</h3>
<h4>
  1. <a href="{{ url('ajaxornot:view1') }}">Load it all with the HTML template
    rendered on the server</a>
</h4>
<p class="pros-and-cons">
  <b>Pros</b>
</p>
<ul>
  <li>Fast rendering</li>
  <li>No need to serialize to and from JSON</li>
  <li>Less requests</li>
  <li>No SEO concerns</li>
</ul>

<p class="pros-and-cons">
  <b>Cons</b></p>
  <ul>
    <li>Potentially fat HTML documents take a long time to download before something appears on the screen</li>
    <li>Hard to put the HTML in a dumb and fast cache (e.g. CDN or Varnish)</li>
    <li>You're going to need to do some business logic in templates and some in Javascript</li>
    <li>Hard to cache globally</li>
    <li>Making a fast rendering server isn't always easy</li>
  </ul>

<h4>
  2. <a href="{{ url('ajaxornot:view2') }}">Load a "skeleton" of HTML.
  Then asynchronously load in the data, in HTML, with AJAX</a>
</h4>
<p class="pros-and-cons">
  <b>Pros</b>
</p>
<ul>
  <li>Initial HTML document is small and quick to render something on the screen</li>
  <!-- <li>JSON weighs less than HTML</li> -->
  <li>HTML document skeleton can be dumb and highly cached for every user</li>
  <li>Possibly to cache skeleton globally and have bulk data vary per user</li>
</ul>
<p class="pros-and-cons">
  <b>Cons</b>
</p>
<ul>
  <li>Slower rendering</li>
  <li>Human eyes will notice the "flicker" between skeleton loading and the bulk of the data coming in</li>
  <li>More requests</li>
  <li>More CPU work needed by the browser</li>
  <li>Might need a "loading animation" widget to indicate that more is to come</li>
</ul>

<h4>
  3. <a href="{{ url('ajaxornot:view3') }}">Use a Javascript framework and load
    all content with AJAX as JSON</a>
</h4>
<p class="pros-and-cons">
  <b>Pros</b>
</p>
<ul>
  <li>Initial HTML document is small and quick to render something on the screen</li>
  <li>Since you'll have the data as a model you can do things like filter and change sort
    without needing to re-render things on the server</li>
  <!-- <li>JSON weighs less than HTML</li> -->
  <li>HTML document skeleton can be dumb and highly cached for every user</li>
  <li>The initial skeleton can be kept when loading different data (e.g. <code>pushState</code>)</li>
</ul>
<p class="pros-and-cons">
  <b>Cons</b>
</p>
<ul>
  <li>Much slower rendering</li>
  <li>Human eyes will notice the "flicker" between skeleton loading and the bulk of the data coming in</li>
  <li>More requests</li>
  <li>Much more CPU work needed by the browser</li>
  <li>The browser has to repaint the column spacing as more table rows are added</li>
</ul>

<h3>Optimization Attempts</h3>

<p>
  If you care about performance, it wouldn't be fair to leave the techniques
  completely un-optimized. Let's compare some different approaches that are
  realistic options of optimization.
</p>

<h4>
  1. <a href="{{ url('ajaxornot:view4') }}">Include the bulk data as a JSON
    string inside the server rendered page</a>
</h4>
<p class="pros-and-cons">
  <b>Pros</b>
</p>
<ul>
  <li>Slightly smaller payload to transfer. 466Kb vs. 178Kb, but 58Kb vs. 49Kb when gzipped</li>
  <li>All rendering logic in the browser already. Good if you pull in more data later</li>
</ul>
<p class="pros-and-cons">
  <b>Cons</b>
</p>
<ul>
  <li>Some SEO concerns</li>
  <li>Requires inline Javascript which can have security risks</li>
  <li>If you use Gzip, actually very little difference</li>
</ul>

<h4>
  2. <a href="{{ url('ajaxornot:view5') }}">Content "below the fold" loaded
    asynchronously later</a>
</h4>
<p class="pros-and-cons">
  <b>Pros</b>
</p>
<ul>
  <li>Very fast to get enough perceived content first.</li>
  <li>Remaining content keeps the brower busy whilst the user is reading and not waiting.</li>
</ul>
<p class="pros-and-cons">
  <b>Cons</b>
</p>
<ul>
  <li>Can completely break ability to do client-side filtering or sorting until
    all data has loaded.</li>
  <li>The scrollbar might act strange as it changes since it shrinks in size
    when more content comes in</li>
  <li>If the column widths need to be readjusted it might flicker the content
  above the fold</li>
</ul>

<!-- <p>
  A visual rendering filmstrip showing
  <a href="http://www.webpagetest.org/video/compare.php?tests=140724_BV_YQW,140724_EP_YQX,140724_G5_YQY,140724_4V_YQZ">all four views on Webpagetest.org</a>.
</p> -->

<h3>Discussion, Thoughts, Conclusion</h3>
<div class="well">
  <p>
    Clearly, by clicking around on these versions it's apparent that <b>the more
    HTML you generate on the server the better. In terms of performance.</b>
  </p>
  <p>
    Websites that are useful and easy to use can be perceived to be faster.
    A "fat client" web page with fancy features that can load more
    content/functionality almost instantly is more useful.
  </p>
  <p>
    If your site has a high bounce rate and you want happy once-in-a-while
    visitors, then render as much as you possibly can on the server.<br>
    If you expect your users to stick around and perform <b>multiple tasks,
    pay the upfront cost and go for a fat client.</b>
  </p>
  <p>
    Everything has a <b>"It depends"</b> label on it.
  </p>

</div>
{% endblock %}
