{% extends "ajaxornot/base.html" %}
{% block title_prefix %}View 5{% endblock %}
{% block content %}
<table class="table table-condensed">
  <thead>
    <tr>
      <th>Title</th>
      <th class="pub-date">Publish Date</th>
      <th>Categories</th>
      <th>Keywords</th>
    </tr>
  </thead>
  <tbody>
    {% include "ajaxornot/view5_trs.html" %}
  </tbody>
</table>
{% endblock %}

{% block footer %}
<script src="{{ static('ajaxornot/jquery-2.1.1.min.js') }}"></script>
<script>
$(function() {
  $('table').on('click', 'a.title', function() {
    return confirm('Sure you want to go to:\n' + $(this).text());
  });
  $.get('/ajaxornot/view5-table', function(response) {
    $('tbody').append(response);
  });
});
</script>
{% endblock %}
