{% extends "ajaxornot/base.html" %}
{% block title_prefix %}View 3{% endblock %}
{% block content %}
<div ng-app="app">
<table ng-controller="TableController" class="table table-condensed">
  <thead>
    <tr>
      <th>Title</th>
      <th class="pub-date">Publish Date</th>
      <th>Categories</th>
      <th>Keywords</th>
    </tr>
  </thead>
  <div id="tbody">
  </div>
</table>
</div>
{% endblock %}

{% block footer %}
<script src="{{ static('ajaxornot/react-0.13.3.js') }}"></script>
<script src="{{ static('ajaxornot/JSXTransformer-0.13.3.js') }}"></script>
<script src="{{ static('ajaxornot/fetch.js') }}"></script>
<script type="text/jsx" src="{{ static('ajaxornot/react-app.js') }}"></script>
{% endblock %}
