{% extends "ajaxornot/base.html" %}
{% block title_prefix %}View 6 (React){% endblock %}
{% block content %}
<div id="table"></div>
{% endblock %}

{% block footer %}
<script src="{{ static('ajaxornot/react-0.13.3.min.js') }}"></script>
<!-- <script src="{{ static('ajaxornot/JSXTransformer-0.13.3.js') }}"></script> -->
<script src="{{ static('ajaxornot/fetch.js') }}"></script>
<!-- <script type="text/jsx" src="{{ static('ajaxornot/view6.jsx') }}"></script> -->
<script type="text/javascript" src="{{ static('ajaxornot/view6.js') }}"></script>
{% endblock %}
