{% extends "ajaxornot/base.html" %}
{% block title_prefix %}View 3{% endblock %}
{% block content %}
<div ng-app="app">
<table ng-controller="TableController" class="table table-condensed">
  <thead>
    <tr>
      <th>Title</th>
      <th class="pub-date">Publish Date</th>
      <th>Categories</th>
      <th>Keywords</th>
    </tr>
  </thead>
  <tbody>
    {% raw %}
    <tr ng-repeat="item in items | track by item.slug">
      <td><a ng-click="confirmAndGo(item)" style="cursor:pointer">{{ item.title }}</a></td>
      <td class="pub-date">{{ item.pub_date }}</td>
      <td>
        <a ng-repeat="category in item.categories"
           href="/oc-{{ category.replace(' ', '+') }}"
           class="label label-default">{{ category }}</a>
      </td>
      <td>
        <span ng-repeat="keyword in item.keywords"
              class="label label-default">{{ keyword }}</span>
      </td>
    </tr>
    {% endraw %}
  </tbody>
</table>
</div>
{% endblock %}

{% block footer %}
<script src="{{ static('ajaxornot/angular.min.js') }}"></script>
<script src="{{ static('ajaxornot/view3.js') }}"></script>
{% endblock %}
