{% extends "ajaxornot/base.html" %}
{% block title_prefix %}View 4{% endblock %}
{% block content %}
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Publish Date</th>
      <th>Categories</th>
      <th>Keywords</th>
    </tr>
  </thead>
  <tbody>

  </tbody>
</table>
{% endblock %}


{% block footer %}
<script src="{{ static('ajaxornot/jquery-2.1.1.min.js') }}"></script>
<script src="{{ static('ajaxornot/ICanHaz.min.js') }}"></script>
<script>
var ITEMS = {{ json_print(items) }};
</script>
<script id="tbody" type="text/html">
{% raw %}
{{#items}}
<tr>
  <td><a class="title" href="/plog/{{ slug }}">{{ title }}</a></td>
  <td>{{ pub_date }}</td>
  <td>
    {{#categories}}
    <a href="/oc-{{.}}"><span class="label">{{.}}</span></a>
    {{/categories}}
  </td>
  <td>
    {{#keywords}}
    <span class="label">{{.}}</span>
    {{/keywords}}
  </td>
</tr>
{{/items}}
{% endraw %}
</script>

<script>
$(function() {
  $('tbody').append(ich.tbody({items: ITEMS}));
  $('table').on('click', 'a.title', function() {
    return confirm('Sure you want to go to:\n' + $(this).text());
  });
});
</script>
{% endblock %}
