{% extends "base.html" %}

{% block title_prefix %}{{ page_title }}{% endblock %}

{% block extrahead %}
{% stylesheet 'podcasttime' %}
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.6.1/fullcalendar.min.css">
{% endblock %}

{% block content %}

<h2>How Much Time Do Your Podcasts Take to Listen To?</h2>

<p>
  Collected
  <b>{{ thousands(podcasts.count()) }} podcasts</b> and
  <b>{{ thousands(episodes.count()) }} episodes</b>
  totalling <b>{{ thousands(total_hours) }} hours</b> of juicy audio content.
</p>

<form>
  <select name="name">
    <option value="">Type here to pick the podcasts you listen to</option>
  </select>
</form>

<div class="selected">
  <h3><i>Your</i> Podcasts...</h3>

  <div class="template clearfix">
    <div class="actions">
      <button type="button" class="button ui">Remove</button>
    </div>
    <div class="img">
      <img/>
    </div>
    <div class="meta">
      <h3></h3>
      <p>
      </p>
    </div>
  </div>

  <div class="your-podcasts">
  </div>

  <div style="float:right; margin-top:15px; margin-bottom: 50px">
    <button
      type="button"
      class="button ui remove-all"
      title="And start over...">Remove All</button>
  </div>

  <div class="clearfix" style="clear:right; margin-top:30px">
    <div class="calendar">
    </div>
  </div>

</div>

{% endblock %}


{% block extrajs %}
{% javascript 'podcasttime' %}
<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.2/moment.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.6.1/fullcalendar.min.js"></script>
{% endblock %}
