{% extends "base.html" %}

{% block title_prefix %}{{ page_title }}{% endblock %}

{% block extrahead %}
{% stylesheet 'podcasttime' %}
{% endblock %}

{% block content %}

<h2>How Much Time Do Your Podcasts Take to Listen To?</h2>

<p>
  Collected
  <b>{{ thousands(podcasts.count()) }} podcasts</b> and
  <b>{{ thousands(episodes.count()) }} episodes</b>
  totalling <b>{{ thousands(total_hours) }} hours</b> of juicy audio content.
</p>

<p>Type here to pick the podcasts you listen to:</p>

<form>
  <select name="name" style="width:75%">
    <option value="">Start typing to find the podcasts you listen to</option>
  </select>
</form>

<div class="template clearfix">
  <div class="actions">
    <button type="button" class="button ui">Remove</button>
  </div>
  <div class="img">
    <img/>
  </div>
  <div class="meta">
    <h3></h3>
    <p>
    </p>
  </div>
</div>

<div class="selected">
  <h3>Your Podcasts...</h3>

</div>

{% endblock %}

{% block extrajs %}
{% javascript 'podcasttime' %}
{% endblock %}
