{% extends "base.html" %}

{% block title_prefix %}{{ page_title }}{% endblock %}

{% block extrahead %}
{% stylesheet 'podcasttime:podcasts' %}
{% endblock %}

{% block content %}

{% for pick in picks %}
<div class="ui eight cards segment" style="margin-bottom:5px;">
  {% for podcast in pick.podcasts.all().order_by('-times_picked') %}
  <div class="ui centered card" title="{{ podcast.title }}">
    <a class="image" href="{{ url('podcasttime:podcast', podcast.id) }}">
      {% if podcast.image %}
        <img src="{{ thumbnail(podcast.image, '300x300').url }}">
      {% else %}
        <img src="/static/podcasttime/images/no-image.png">
      {% endif %}
      <div class="floating ui teal label" title="Times picked">{{ podcast.times_picked }}</div>
    </a>
  </div>
  {% endfor %}
</div>
{% endfor %}


<div class="ui two column centered grid" style="margin-top: 100px">
  <div class="ui pagination menu">
    {% if picks.has_previous() %}
      <a class="item" href="?page={{ picks.previous_page_number() }}">
        &larr; Page {{ picks.previous_page_number() }}
      </a>
    {% else %}
      <!-- <a class="item disabled">
        Page 1
      </a> -->
    {% endif %}
    <a class="item disabled">
      Page {{ picks.number }} of {{ picks.paginator.num_pages }}
    </a>
    {% if picks.has_next() %}
      <a class="item" href="?page={{ picks.next_page_number() }}">
        Page {{ picks.next_page_number() }} &rarr;
      </a>
    {% else %}
      <a class="item disabled">
        Page {{ picks.paginator.num_pages }}
      </a>
    {% endif %}
  </div>
</div>

{% endblock %}


{% block extrajs %}
{% endblock %}
