{% extends "base.html" %}

{% block title_prefix %}{{ page_title }}{% endblock %}

{% block extrahead %}
{% stylesheet 'podcasttime:podcasts' %}
{% endblock %}

{% block content %}

<h5 class="ui right aligned header">
  {{ thousands(count) }} podcasts found.
</h5>


<form action="." class="ui search">
  <div class="ui fluid huge icon {% if search %}labeled{% endif %} input">
    {% if search %}
    <a href="." class="ui label">
      <i class="close icon"></i>
    </a>
    {% endif %}
    <input
      type="text"
      name="search"
      placeholder="Search..."
      value="{% if search %}{{ search }}{% endif %}">
    <i class="search icon"></i>
  </div>
</form>


<div class="ui link cards">
{% for podcast in podcasts %}
  <div class="ui centered card">
    <a class="image" href="{{ url('podcasttime:podcast', podcast.id) }}">
      {% if podcast.image %}
        <img src="{{ thumbnail(podcast.image, '300x300').url }}">
      {% else %}
        <img src="/static/podcasttime/images/no-image.png">
      {% endif %}
    </a>
    <div class="content">
      <a
        href="{{ url('podcasttime:podcast', podcast.id) }}"
        class="header">{{ podcast.name }}</a>
      <div class="meta">
        <span class="date">
          Last updated {{ timesince(podcast.last_fetch or podcast.modified) }} ago
        </span>
      </div>
      <div class="description">
        {% if episode_counts[podcast.id] %}
        <b>{{ thousands(episode_counts[podcast.id]) }}</b> episodes,
        about <b>{{ thousands(episode_hours[podcast.id]) }}</b> hours of content.
        {% else %}
        <i>episodes currently unknown</i>
        {% endif %}
      </div>
    </div>
    <div class="extra content">
      <a>
        Picked <b>{{ thousands(podcast.times_picked) }}</b> times
      </a>
    </div>
  </div>
{% endfor %}
</div>


<div class="ui two column centered grid" style="margin-top: 100px">
  <div class="ui pagination menu">
    {% if podcasts.has_previous() %}
      <a class="item" href="?page={{ podcasts.previous_page_number() }}{% if search %}&amp;search={{ search }}{% endif %}">
        &larr; Page {{ podcasts.previous_page_number() }}
      </a>
    {% else %}
      <!-- <a class="item disabled">
        Page 1
      </a> -->
    {% endif %}
    <a class="item disabled">
      Page {{ podcasts.number }} of {{ podcasts.paginator.num_pages }}
    </a>
    {% if podcasts.has_next() %}
      <a class="item" href="?page={{ podcasts.next_page_number() }}{% if search %}&amp;search={{ search }}{% endif %}">
        Page {{ podcasts.next_page_number() }} &rarr;
      </a>
    {% else %}
      <a class="item disabled">
        Page {{ podcasts.paginator.num_pages }}
      </a>
    {% endif %}
  </div>
</div>

{% endblock %}


{% block extrajs %}
{% javascript 'podcasttime:podcasts' %}
{% endblock %}
