{% extends "base.html" %}

{% block title_prefix %}{{ page_title }}{% endblock %}

{% block extrahead %}
{#{% stylesheet 'podcasttime:podcast' %}#}
{% endblock %}

{% block content %}

<div class="ui container">
  <a href="{{ url('podcasttime:add') }}?id={{ podcast.id }}" class="ui button primary">I listen to this!</a>
  <a href="{{ url('podcasttime:index') }}" class="ui button">Go back to Home</a>

</div>


<div class="ui segment clearing">
  {% if thumb %}
  <img style="float:left" src="{{ thumb.url }}">
  {% else %}
  <img style="float:left" src="/static/podcasttime/images/no-image.png" width="300" height="300">
  {% endif %}
  <div style="margin-left: 330px">
    <h2>Title: {{ podcast.name }}</h2>
    <h3>Number of episodes: {{ episodes.count() }}</h3>
    {% if episodes.exists() %}
    <h3>Total amount of content: {{ show_duration(podcast.total_seconds) }}</h3>
    {% endif %}
    <h3>Times picked: {{ thousands(podcast.times_picked) }}</h3>
    {% if podcast.last_fetch %}
    <h3>Last updated: {{ timesince(podcast.last_fetch) }} ago</h3>
    {% endif %}
  </div>
</div>


<table class="ui celled table">
  <thead>
    <tr>
      <th>Published</th>
      <th>Duration</th>
    </tr>
  </thead>
  <tbody>
    {% for episode in episodes %}
    <tr>
      <td>
        {{ episode.published }}
        <small>
          ({{ timesince(episode.published) }} ago)
        </small>
      </td>
      <td>{{ show_duration(episode.duration) }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>


{% if request.user.is_staff %}
  <h3>iTunes Lookup</h3>
  {% if podcast.itunes_lookup %}
    <pre>{{ json_print(podcast.itunes_lookup, indent=4, sort_keys=True) }}</pre>
  {% else %}
    <em>Not looked up</em>
  {% endif %}
{% endif %}

{% endblock %}


{% block extrajs %}
{% endblock %}
