<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Cached</title>
  </head>
  <body>

    <p>
      Server Time (in UTC): <b>{{ now }}</b>
    </p>
    <p>
      Current Time (in UTC): <b><script>document.write((new Date()).toUTCString())</script></b>
    </p>
    <p>
      If you refresh this page you <b>should</b> see that the Server Time
      is the <b>less than</b> the Current Time (the Javascript time).
    </p>
    <p><a href="/cdnthis">Return to Experiment home page</a></p>

  </body>
</html>
