{% extends "base.html" %}

{% block title_prefix %}{{ page_title }}{% endblock %}

{% block extrahead %}
<style type="text/css">
</style>
{% endblock %}

{% block content %}

<h3>The Experiment</h3>

<p>
  We all know is't a
  <a href="https://www.maxcdn.com/blog/cdn-experts-on-cdns/">good idea to use a CDN</a>
  for your static assets. Like your <code>.css</code> or <code>.jpg</code> files.<br>
  But mind you, it works perfectly well for HTML documents too.
</p>
<p>
  We're so used to the pattern of a web server that generates HTML on-the-fly
  that contains stuff like
  <code>&lt;a href=&quot;/signout/&quot;&gt;You're signed in as you@example.com&lt;/a&gt;</code>
  and stuff like this <code>&lt;script src=&quot;/static/file.js&quot;&gt;&lt;script&gt;</code>.<br>
  But these days we're build really powerful fat-client web apps where the
  only HTML you get from the server is a dumb <code>/index.html</code> that
  loads up a cacophony of JavaScript monsters. So you might as well
  CDN load the HTML document(s) too.
</p>
<p>
  For example, my own <a href="http://buggy.peterbe.com/">buggy.peterbe.com</a>
  is a fat-client AngularJS web app where everything is run from a Amazona
  CloudFront CDN. The HTML, the Javascript, the CSS, the lot!
</p>
<p>
  <b>However</b>, sometimes you really do need <i>some stuff</i> to be
  dynamic and come from a server. For example, complex queries or authentication
  information. Or perhaps you have a JSON API on the same domain as the
  main web app. In those case, if you put the whole domain on a CDN,
  you can basically "push holes" in the CDN by always setting
  a <code>Cache-Control: max-age=0</code> header. <b>How does that affect performance?</b>
</p>

<h3>Amazon CloudFront</h3>

<p>
  <a href="https://aws.amazon.com/cloudfront/">Amazon CloudFront</a> is the CDN
  I'm most familiar with so this is what I'll use to test things.
</p>
<p>
  The way CloudFront works is that you set up a CDN domain name that basically
  "sits in front of" another domain. When clients request a URL, that request
  goes to CloudFront who asks itself "Do I have a response for that URL?".
  If the CDN doesn't have a response stored, it basically goes to the
  "origin server" to fetch a copy. Depending on <i>how</i> the origin server
  responds, CloudFront decides to cache a response for a certain amount of time.
</p>

<h3>The Test Endpoints</h3>

<table class="ui definition table">
  <thead>
    <tr>
      <th></th>
      <th>Without CDN</th>
      <th>Through CloudFront</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>deliberately no caching</td>
      <td><a href="{{ url('cdnthis:nocaching') }}">Link</a></td>
      <td><a href="{{ cdn_wrap(url('cdnthis:nocaching')) }}">Link</a></td>
    </tr>
    <tr>
      <td>cached for 1 hour</td>
      <td><a href="{{ url('cdnthis:cached') }}">Link</a></td>
      <td><a href="{{ cdn_wrap(url('cdnthis:cached')) }}">Link</a></td>
    </tr>
  </tbody>
</table>

{% endblock %}


{% block extrajs %}
<script>
</script>
{% endblock %}
