<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta tags -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"
      name="viewport"
    />
    <meta name="viewport" content="width=device-width" />

    <!-- Favicon and title -->
    <link
      rel="icon"
      href="{{ static('chiveproxy/images/favicon-32x32.png') }}"
    />
    <title>{% block title %}Chiveproxy{% endblock %}</title>

    <link rel="apple-touch-icon" sizes="180x180" href="{{ static('chiveproxy/images/apple-touch-icon.png') }}">

    <meta name="apple-mobile-web-app-title" content="ChivePWAish">

    <!-- Halfmoon CSS -->
    {% stylesheet 'chiveproxy' %}
    {#<link
      href="https://cdn.jsdelivr.net/npm/halfmoon@1.1.1/css/halfmoon-variables.min.css"
      rel="stylesheet"
    />#}
    <!--
    Or,
    Use the following (no variables, supports IE11):
    <link href="https://cdn.jsdelivr.net/npm/halfmoon@1.1.1/css/halfmoon.min.css" rel="stylesheet" />
    Learn more: https://www.gethalfmoon.com/docs/customize/#notes-on-browser-compatibility
  -->

    {# {% javascript 'chiveproxy' %} #}


     {% block extrahead %}{% endblock %}
  </head>
  <body class="dark-mode" data-set-preferred-mode-onload="true">
    <!-- Modals go here -->
    <!-- Reference: https://www.gethalfmoon.com/docs/modal -->

    <!-- Page wrapper start -->
    <div class="page-wrapper with-navbar">
      <!-- Navbar start -->
      <nav class="navbar justify-content-between">
        <!-- Reference: https://www.gethalfmoon.com/docs/navbar -->
        {% block navbar %}

        <a href="{{ url('chiveproxy:home') }}" class="btn btn-primary">
          Home
        </a>
        {% endblock %}
      </nav>
      <!-- Navbar end -->

      <!-- Content wrapper start -->
      <div class="content-wrapper">
        <!--
        Add your page's main content here
        Examples:
        1. https://www.gethalfmoon.com/docs/content-and-cards/#building-a-page
        2. https://www.gethalfmoon.com/docs/grid-system/#building-a-dashboard
      -->
        {% block content %} {% endblock %}
      </div>
      <!-- Content wrapper end -->
    </div>
    <!-- Page wrapper end -->

    <!-- Halfmoon JS -->
  </body>
</html>
