{% extends "chiveproxy/base.html" %} {% block title %}{{ card.data['text'] }}{%
endblock %} {% block navbar %}

<a href="{{ url('chiveproxy:home') }}" class="btn btn-primary">Home</a>
<a
  href="{{ url('chiveproxy:home') }}"
  onclick="history.back();return false"
  class="btn"
  >◀️ Go back</a
>
<a
  href="#top"
  onclick="document.querySelector('a[name=top]').scrollIntoView({behavior: 'smooth'});return false"
  class="btn"
  >🔼 Top</a
>

{% endblock %} {% block content %}

<a name="top"></a>
<!-- Container-fluid -->
<div class="container-fluid">
  <!-- First comes a content container -->
  <div class="content">
    <h1 class="content-title font-size-22">
      <!-- font-size-22 = font-size: 2.2rem (22px) -->
      {{ card.data['text'] }}
    </h1>
    <p>
      {% for picture in card.data['pictures'] %}
      <a
        href="#_id_{{ loop.index }}"
        onclick="document.querySelector('#_id_{{loop.index}}').scrollIntoView({behavior: 'smooth'});return false"
        ><img
          src="{{ picture['img'] }}"
          style="width: 74px; height: 74px; object-fit: cover"
          class="img-fluid rounded"
          alt="{% if picture['caption'] %}{{ picture['caption'] }}{% endif %}"
      /></a>
      {% endfor %}
    </p>
    <small>{{ card.created }}</small>
  </div>

  {% for picture in card.data['pictures'] %}

  <div class="card p-0" id="_id_{{ loop.index }}">
    {% if picture['mp4src'] %}
    <video
      autoplay="true"
      loop="true"
      muted="true"
      controls="true"
      poster="{{ picture['img'] }}"
    >
      <source src="{{ picture['mp4src'] }}" type="video/mp4" />
    </video>
    {% else %}
    <img
      src="{{ picture['img'] }}"
      class="img-fluid rounded-top"
      alt="{% if picture['caption'] %}{{ picture['caption'] }}{% endif %}"
    />
    {% endif %} {% if picture['caption'] %}
    <div class="content">
      <p class="text-muted">{{ picture['caption'] }}</p>
    </div>
    {% endif %}
  </div>
  {% endfor %}
</div>

{% endblock %}
