{% extends "chiveproxy/base.html" %} {% block title %}Chive NotSoPWA{% endblock
%} {% block navbar %}
<a href="{{ url('chiveproxy:home') }}" class="btn btn-primary"> Home </a>
<a href="{{ url('chiveproxy:home') }}" class="btn">🔄 Reload</a>
{% endblock %} {% block content %}

<!-- Container-fluid -->
<div class="container-fluid">
  <!-- First comes a content container -->
  <div class="content">
    {#
    <h1 class="content-title font-size-22">
      <!-- font-size-22 = font-size: 2.2rem (22px) -->
      Chive NoSoPWA
    </h1>
    #}
    <img
      src="{{ static('chiveproxy/images/kcco-black.png') }}"
      width="700"
      height="525"
      class="img-fluid"
      alt="KCCO"
    />
  </div>

  <div class="content">
    <form action=".#id_search" id="id_search">
      <div class="input-group">
        <input
          type="search"
          name="search"
          class="form-control"
          placeholder="Search..."
          value="{% if search %}{{ search.string }}{% endif %}"
        />
        <div class="input-group-append">
          <button class="btn" type="button">Search</button>
          {% if search %}
          <a href="{{ url('chiveproxy:home') }}" class="btn">Reset</a>
          {% endif %}
        </div>
      </div>
    </form>
  </div>

  {% for card in cards %}
  <!-- Card with no padding with multiple content containers nested inside of it -->
  <div class="w-600 mw-full">
    <!-- w-600 = width: 60rem (600px), mw-full = max-width: 100% -->
    <div class="card p-0">
      <!-- p-0 = padding: 0 -->
      <a href="{{ url('chiveproxy:card', card.id) }}"
        ><img
          src="{{ card['img'] }}"
          class="img-fluid rounded-top"
          loading="lazy"
          alt="{{ card.text }}"
      /></a>
      <!-- rounded-top = rounded corners on the top -->
      <!-- First content container nested inside card -->
      <div class="content">
        <h2 class="content-title">
          <a href="{{ url('chiveproxy:card', card.id) }}">{{ card.text }}</a>
        </h2>
        <div>
          <span class="text-muted">
            {{ timesince(card.created) }} ago
            <!-- mr-5 = margin-right: 0.5rem (5px) -->
          </span>
        </div>
      </div>
    </div>
  </div>
  {% endfor %} {% if oldest_card %}
  <p>
    <a
      class="btn btn-block"
      href="{{ url('chiveproxy:home') }}?since={{ oldest_card }}"
      >Older cards</a
    >
  </p>
  {% endif %}
</div>

{% endblock %}
