<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}{% block title_prefix %}{% endblock %} - Peterbe.com{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Stuff in Peter's head">
   {% compress css %}
   <link rel="stylesheet" href="{{ static("css/bootstrap.min.css") }}">
   <link rel="stylesheet" href="{{ static("css/main.css") }}">
   {% endcompress %}
   <link rel="alternate" type="application/rss+xml" title="RSS" href="/rss.xml">
   {% block extrahead %}
   {% endblock %}
</head>
<body>
<div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
              <div class="container">
			<a class="brand" href="/"><span class="logo-text">Peterbe.com</span></a>
			<form action="/search" class="navbar-search pull-right">
				<input type="text" name="q" class="search-query" maxlength="90" placeholder="Search" {% if q %}value="{{ q }}"{% endif %}>
			</form>
			<div class="pull-right">
				<ul class="nav">
					<li><a href="{{ url('plog_index') }}">Archive</a></li>
					<li><a href="{{ url('about') }}">About</a></li>
					<li><a href="{{ url('contact') }}">Contact</a></li>
					<li class="navbar-search-link"><a href="{{ url('search') }}">Search</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
<div class="container">
	{% block pre_content %}
	{% endblock %}
	<div class="content">
		{% block content %}

		<div class="row">
			<div class="span16">
				<div class="page-header">
					<h1>
						{% block content_title %}About Us <small>What do we do?</small>{% endblock %}
					</h1>
				</div>
			</div>
		</div>
                {% block content_body %}
                {% endblock %}
                {% endblock %}

	</div>
</div>
<div class="footer-style">
	<p class="footer-text">
		&copy; peterbe.com 2003 - 2013
	</p>
</div>
{% block extrajs %}{% endblock %}

{% if use_google_analytics %}
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-94373-1']);
  _gaq.push(['_trackPageview']);
  _gaq.push(['_trackPageLoadTime']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
{% endif %}

</body>
</html>
