{% extends "base.html" %}


{% block content %}

  <h3>Email</h3>
  <p><a href="mailto:mail@peterbe.com">mail@peterbe.com</a></p>

  <h3>Twitter</h3>
  <p><a href="https://twitter.com/peterbe">twitter.com/peterbe</a></p>

  <h3>Github</h3>
  <p><a href="https://github.com/peterbe">github.com/peterbe</a></p>

  <h3>Facebook</h3>
  <p><a href="http://www.facebook.com/peterbecom">www.facebook.com/peterbecom</a></p>

  <h3>LinkedIn</h3>
  <p><a href="http://www.linkedin.com/in/peterbe">www.linkedin.com/in/peterbe</a></p>

  <h3>Google Plus</h3>
  <p>
    <a rel="author" href="https://plus.google.com/+peterbe1235">
      <img src="http://ssl.gstatic.com/images/icons/gplus-16.png" width="16" height="16">
    </a>
    <a href="https://plus.google.com/+peterbe123">https://plus.google.com/+peterbe123</a>
  </p>

  <h3>Mozillians</h3>
  <p><a href="https://mozillians.org/u/peterbe">mozillians.org/u/peterbe</a></p>


{% endblock %}
