.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }

.select2-result-podcast { padding-top: 4px; padding-bottom: 3px; }
.select2-result-podcast__avatar { float: left; width: 60px; margin-right: 10px; }
.select2-result-podcast__avatar img { width: 100%; height: auto; border-radius: 2px; }
.select2-result-podcast__meta { margin-left: 70px; }
.select2-result-podcast__title { color: black; font-weight: bold; word-wrap: break-word; line-height: 1.1; margin-bottom: 4px; }
.select2-result-podcast__forks, .select2-result-podcast__stargazers { margin-right: 1em; }
.select2-result-podcast__forks, .select2-result-podcast__stargazers, .select2-result-podcast__watchers { display: inline-block; color: #aaa; font-size: 11px; }
.select2-result-podcast__description { font-size: 13px; color: #777; margin-top: 4px; }
.select2-results__option--highlighted .select2-result-podcast__title { color: white; }
.select2-results__option--highlighted .select2-result-podcast__forks, .select2-results__option--highlighted .select2-result-podcast__stargazers, .select2-results__option--highlighted .select2-result-podcast__description, .select2-results__option--highlighted .select2-result-podcast__watchers { color: #c6dcef; }

.select2-container--default .select2-results > .select2-results__options {
  max-height: 400px;
}

form select {
  width: 100%;
}
.selected {
  margin-top: 50px;
  display: none;
  width: 100%;
}
.template {
  display: none;
}
.selected .podcast {
  border-bottom: 1px solid #efefef;
  padding: 10px 0;
}
.selected .podcast .actions {
  float: right;
}
.selected .podcast .img {
  float: left;
  width: 60px;
  margin-right: 10px;
}
.selected .podcast .img img {
  width: 100%;
  height: auto;
  border-radius: 2px;
}

.collected-stats {
  margin-top: 100px;
  text-align: center;
  font-size: 80%;
}

.share {
  text-align: center;
  font-weight: bold;
}
.share .link a {
  font-size: 120%;
  background-color: #efefef;
  padding: 13px 20px;
  text-align: center;
  border-radius: 30px;
}

/* initially hidden to make the first impression clean */
.link-to-discover {
  float: right;
  display: none;
  font-weight: bold;
}
