{% extends "base.html" %}

{% block title_prefix %}Page not found{% endblock %}

{% block extrahead %}
<style>
p { margin: 30px 0; }

.content input.search-query {
  font-size:1.1em;
  font-weight: bold;
  width: 500px;
}
</style>
{% endblock %}

{% block content %}
<h1>Page not found</h1>

<p>
Perhaps the page you are looking for exists but is now called something else.
</p>


<form action="/search" class="ui form search">
  <div class="field">
    <label>Perhaps try to search for it</label>
    <div class="ui fluid action input">
      <input type="search" name="q" placeholder="Search..." value="{{ request_path.replace('/', ' ').replace('-',' ').strip() }}">
      <button type="submit" class="ui button primary">Search</button>
    </div>
  </div>
</form>

{% endblock %}
