{% extends "base.html" %}
{% block title_prefix %}Stats{% endblock %}

{% block content %}

<dl>
  <dt>Hits:</dt>
  <dd>{{ total_hits }}</dd>
  <dt>Misses:</dt>
  <dd>{{ total_misses }}</dd>
  <dt>Ratio:</dt>
  <dd>{{ total_ratio }}%</dd>
</dl>

<table class="condensed-table">
  <thead>
    <tr>
      <th>URL</th>
      <th>Hits</th>
      <th>Misses</th>
      <th>Ratio</th>
    </tr>
  </thead>
  <tbody>
    {% for url in urls %}
    <tr>
      <td>{{ url }}</td>
      <td>{{ urls[url]['hits'] }}</td>
      <td>{{ urls[url]['misses'] }}</td>
      <td>{% if urls[url]['ratio'] %}{{ urls[url]['ratio'] }}%{% else %}--{% endif %}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
