{% extends "base.html" %}
{% block title_prefix %}Stats{% endblock %}

{% block extrajs %}
<script type='text/javascript' src='https://www.google.com/jsapi'></script>
<script type='text/javascript'>
google.load('visualization', '1', {packages:['gauge']});
google.setOnLoadCallback(drawChart);
function drawChart() {
  var data = google.visualization.arrayToDataTable([
    ['Label', 'Value'],
    ['Plog', {{ plog['total_ratio'] }}],
    ['Homepage', {{ homepage['total_ratio'] }}]
  ]);

  var options = {
    width: 450, height: 190,
    redFrom: 90, redTo: 100,
    yellowFrom:75, yellowTo: 90,
    minorTicks: 5
   };

  var chart = new google.visualization.Gauge(document.getElementById('gauges'));
  chart.draw(data, options);
}
</script>

{% endblock %}


{% block content %}

<div id="gauges" style="float:right">

</div>

<h3>Since</h3>
<p>{{ start_date }}</p>

<div class="summary" id="plog">
<h3>Plog</h3>
<dl>
  <dt>Hits:</dt>
  <dd>{{ plog['total_hits'] }}</dd>
  <dt>Misses:</dt>
  <dd>{{ plog['total_misses'] }}</dd>
  <dt>Ratio:</dt>
  <dd>{{ plog['total_ratio'] }}%</dd>
</dl>
</div>

<div class="summary" id="homepage">
<h3>Homepage</h3>
<dl>
  <dt>Hits:</dt>
  <dd>{{ homepage['total_hits'] }}</dd>
  <dt>Misses:</dt>
  <dd>{{ homepage['total_misses'] }}</dd>
  <dt>Ratio:</dt>
  <dd>{{ homepage['total_ratio'] }}%</dd>
</dl>
</div>


<h3>All URLs</h3>
<table class="condensed-table">
  <thead>
    <tr>
      <th style="text-align:left">URL</th>
      <th>Hits</th>
      <th>Misses</th>
      <th>Ratio</th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <th style="text-align:left">TOTAL</th>
      <th style="text-align:left">{{ thousands(total_hits) }}</th>
      <th style="text-align:left">{{ thousands(total_misses) }}</th>
      <th>&nbsp;</th>
    </tr>
  </tfoot>
  <tbody>
    {% for abs_url, url, hits, misses, ratio in urls %}
    <tr>
      <td>
        {% if abs_url %}
        <a href="{{ abs_url }}">{{ url }}</a>
	{% else %}
	{{ url }}
	{% endif %}
      </td>
      <td>{{ thousands(hits) }}</td>
      <td>{{ thousands(misses) }}</td>
      <td>{{ ratio }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
