/* Copied from view-source:https://semantic-ui.com/examples/fixed.html */

body {
  background-color: #ffffff;
}

div#root {
  padding-bottom: 100px;
}
.ui.menu .item img.logo {
  margin-right: 1.5em;
}
.main.container {
  margin-top: 7em;
}
.wireframe {
  margin-top: 2em;
}
.ui.footer.segment {
  margin: 5em 0em 0em;
  padding: 5em 0em;
}
/* End copied from */

/* Copied this from GitHub */
textarea.monospaced {
  font-family: SFMono-Regular, Consolas, 'Liberation Mono', Menlo, Courier, monospace !important;
  font-size: 13px;
}

.preview {
  margin-top: 40px;
  padding-top: 20px;
  border-top: 1px solid #ccc;
}


/* Need some of the CSS from the view site */
pre {
  padding: 5px;
  margin: 0px 0px 10px;
  line-height: 1.42857;
  color: #333;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
  overflow: auto;
}

.ui.header,
h1,
h2,
h3,
h4 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
}
