name: Admin UI

on:
  push:
    branches: [master]
  pull_request:
    paths:
      - adminui/**

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Setup Node.js environment
        uses: actions/setup-node@v2.3.0
        with:
          node-version: '12'
          cache: 'yarn'

      - name: Cache node_modules
        uses: actions/cache@v2.1.6
        id: cached-node_modules
        with:
          path: |
            adminui/node_modules
          key: ${{ runner.os }}-${{ hashFiles('adminui/yarn.lock') }}-${{ hashFiles('.github/workflows/adminui.yml') }}

      - name: Install yarn packages
        if: steps.cached-node_modules.outputs.cache-hit != 'true'
        working-directory: adminui
        run: yarn --frozen-lockfile

      - name: Build
        working-directory: adminui
        run: yarn run build
