name: Download uploaded build stuff

on:
  repository_dispatch:
    types: [ping]

jobs:
  download:
    runs-on: ubuntu-latest
    steps:
      - name: Only if started on repository_dispatch
        if: github.event.action == 'ping'
        run: echo "yes it was run because of a repository_dispatch"

      - name: Download artifact from build
        uses: bettermarks/action-artifact-download@0.3.0
        with:
          repo: peterbe/github-action-tricks
          token: ${{ secrets.GITHUB_TOKEN }}
          artifact_name: buildstuff

      - name: Look if something got downloaded
        run: |

          ls -l
          file buildstuff*
          # file buildstuff
          unzip buildstuff.zip
          tree
          ls -ltr buildstuff*
          # ls -l buildstuff
          # cat buildstuff/file.txt
