# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Django

on:
  push:
    branches:
      - master
  pull_request:

permissions:
  contents: read

jobs:
  build-and-test-django:
    runs-on: ubuntu-latest

    steps:
      - name: Redis Server in GitHub Actions
        uses: supercharge/redis-github-action@v2
        with:
          # Redis version to use
          redis-version: "5.0.5"

      - name: Setup PostgreSQL
        uses: Harmon758/postgresql-action@v1.0.0
        with:
          # Version of PostgreSQL to use
          postgresql version: "16"
          postgresql db: peterbecom
          postgresql user: user
          postgresql password: secret

      - uses: actions/checkout@v6

      - uses: oven-sh/setup-bun@v2

      - name: Install bun packages
        working-directory: peterbecom/chiveproxy
        run: bun install

      - name: Compile puppeteer_sucks with bun
        working-directory: peterbecom/chiveproxy
        run: bun run compile

      - name: Test compiled puppeteer_sucks
        working-directory: peterbecom/chiveproxy
        run: ./out/puppeteer_sucks https://www.example.com

      - name: Install uv
        id: setup-uv
        uses: astral-sh/setup-uv@v7

      - name: Celebrate uv cache hit
        if: steps.setup-uv.outputs.cache-hit == 'true'
        run: echo "Cache was restored"

      - name: Set up Python
        run: uv python install 3.12

      - name: Install the project
        run: uv sync

      - name: Make sure it's synced
        run: |

          # If the uv.lock (dependencies and devDependencies) is
          # in correct sync with pyproject.toml running `uv sync`
          # should *not* make an edit to the uv.lock. I.e.
          # running `git status` should
          # say "nothing to commit, working tree clean".
          git diff --exit-code

      - name: Inspect virtual env
        run: |
          echo "SIZE OF .venv:"
          du -sh .venv

      - name: Install system dependencies
        run: |
          set -ex

          sudo apt-get install pngquant libjpeg-progs

          # 'jpegtran --version' fails, hence the '|| echo'
          which jpegtran || echo "jpegtran installed"

          pngquant --version
          which pngquant

      - name: Download NLTK dependencies
        run: uv run python scripts/nltk-downloads.py

      - name: Run Lints
        run: |
          # Linting
          uv run ruff check .
          # Formatting
          uv run ruff format --check .

      - name: Run Tests
        run: |
          ./scripts/ci-test.sh
